

@media screen and (max-width: 1000px) {
	body {
		font-size:9px;
	}
	
	.wrapper {
		width:100%;
	}
	
	.fat_wrapper {
		width:100.8%;
	}
	
	.region.x_full_tablet { width:100.5%; }
	.region.x_half_tablet { width:50%; }
	.region.y_quarter_tablet { height:151px; }
	.region.y_half_tablet { height:302px; }
	.region.y_three_quarters_tablet { height:453px; }
	.region.y_full_tablet { height:604px; }
	
	.region .region.x_half_tablet {
		border:0;
		border-right:4px solid #ffffff;
	}

	/* collection regions */
	/* ============= */
	.region.collection_main { border-bottom:0; }
	.region.collection_context { height:302px; } /* .region.y_half */
	.region.collection_context .region:nth-child(odd) {
		border-width:0 4px 4px 0;
		border-color: #ffffff;
		border-style:solid;
	}
	
	/* topical teaser */
	/* ============== */
	.region.topical_teaser.y_quarter.sponsoring { height:198px; }
	.region.topical_teaser.sponsoring .media_icons { width:75%; }
	
	/* custom hide and display */
	.hide_on_tablet { display:none !important; }
	.show_on_tablet { display:block !important;; }
}


/* ipad landscape */
/* ============== */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.wrapper {
		width:1024px;
	}
}