




/* color combos */
/* ============ */

/* Smokey Robinson */
.color_combo_1 .combo_bg, .color_combo_1.combo_bg { background-color:#dddddd !important; } /* background color */
.color_combo_1 .combo_bg_inv, .color_combo_1.combo_bg_inv { background-color:#666666 !important; } /* inverted background color */
.color_combo_1 .combo_bd, .color_combo_1.combo_bd { border-color: #dddddd !important; } /* border color */
.color_combo_1 .combo_bd_inv, .color_combo_1.combo_bd_inv { border-color: #666666 !important; } /* inverted border color */
.color_combo_1 .combo_fg, .color_combo_1.combo_fg { color:#666666 !important; } /* font color */
.color_combo_1 .combo_fg_inv, .color_combo_1.combo_fg_inv { color:#dddddd !important; } /* inverted font color */

/* Classic Green */
.color_combo_2 .combo_bg, .color_combo_2.combo_bg { background-color:#dddddd !important; }
.color_combo_2 .combo_bg_inv, .color_combo_2.combo_bg_inv { background-color:#63a800 !important; }
.color_combo_2 .combo_bd, .color_combo_2.combo_bd { border-color: #dddddd !important; }
.color_combo_2 .combo_bd_inv, .color_combo_2.combo_bd_inv { border-color: #63a800 !important; }
.color_combo_2 .combo_fg, .color_combo_2.combo_fg { color:#63a800 !important; }
.color_combo_2 .combo_fg_inv, .color_combo_2.combo_fg_inv { color:#dddddd !important; }

/* Classic Blue */
.color_combo_3 .combo_bg, .color_combo_3.combo_bg { background-color:#dddddd !important; }
.color_combo_3 .combo_bg_inv, .color_combo_3.combo_bg_inv { background-color:#009ccc !important; }
.color_combo_3 .combo_bd, .color_combo_3.combo_bd { border-color: #dddddd !important; }
.color_combo_3 .combo_bd_inv, .color_combo_3.combo_bd_inv { border-color: #009ccc !important; }
.color_combo_3 .combo_fg, .color_combo_3.combo_fg { color:#009ccc !important; }
.color_combo_3 .combo_fg_inv, .color_combo_3.combo_fg_inv { color:#dddddd !important; }

/* Classic Magenta */
.color_combo_4 .combo_bg, .color_combo_4.combo_bg { background-color:#dddddd !important; }
.color_combo_4 .combo_bg_inv, .color_combo_4.combo_bg_inv { background-color:#ce0f89 !important; }
.color_combo_4 .combo_bd, .color_combo_4.combo_bd { border-color: #dddddd !important; }
.color_combo_4 .combo_bd_inv, .color_combo_4.combo_bd_inv { border-color: #ce0f89 !important; }
.color_combo_4 .combo_fg, .color_combo_4.combo_fg { color:#ce0f89 !important; }
.color_combo_4 .combo_fg_inv, .color_combo_4.combo_fg_inv { color:#dddddd !important; }

/* Black Matter */
.color_combo_5 .combo_bg, .color_combo_5.combo_bg { background-color:#222222 !important; }
.color_combo_5 .combo_bg_inv, .color_combo_5.combo_bg_inv { background-color:#eeeeee !important; }
.color_combo_5 .combo_bd, .color_combo_5.combo_bd { border-color: #222222 !important; }
.color_combo_5 .combo_bd_inv, .color_combo_5.combo_bd_inv { border-color: #eeeeee !important; }
.color_combo_5 .combo_fg, .color_combo_5.combo_fg { color:#eeeeee !important; }
.color_combo_5 .combo_fg_inv, .color_combo_5.combo_fg_inv { color:#222222 !important; }

/* Snowy Tundra */
.color_combo_6 .combo_bg, .color_combo_6.combo_bg { background-color:#deebf3 !important; }
.color_combo_6 .combo_bg_inv, .color_combo_6.combo_bg_inv { background-color:#387095 !important; }
.color_combo_6 .combo_fg, .color_combo_6.combo_fg { color:#387095 !important; }
.color_combo_6 .combo_fg_inv, .color_combo_6.combo_fg_inv { color:#deebf3 !important; }
.color_combo_6 .combo_bd, .color_combo_6.combo_bd { border-color: #deebf3 !important; }
.color_combo_6 .combo_bd_inv, .color_combo_6.combo_bd_inv { border-color: #387095 !important; }

/* Cherry Blossom */
.color_combo_7 .combo_bg, .color_combo_7.combo_bg { background-color:#ffe2e2 !important; }
.color_combo_7 .combo_bg_inv, .color_combo_7.combo_bg_inv { background-color:#ff76aa !important; }
.color_combo_7 .combo_bd, .color_combo_7.combo_bd { border-color: #ffe2e2 !important; }
.color_combo_7 .combo_bd_inv, .color_combo_7.combo_bd_inv { border-color: #ff76aa !important; }
.color_combo_7 .combo_fg, .color_combo_7.combo_fg { color:#ff76aa !important; }
.color_combo_7 .combo_fg_inv, .color_combo_7.combo_fg_inv { color:#ffe2e2 !important; }

/* Hello Pinky */
.color_combo_8 .combo_bg, .color_combo_8.combo_bg { background-color:#f4afdf !important; }
.color_combo_8 .combo_bg_inv, .color_combo_8.combo_bg_inv { background-color:#7d0953 !important; }
.color_combo_8 .combo_bd, .color_combo_8.combo_bd { border-color: #f4afdf !important; }
.color_combo_8 .combo_bd_inv, .color_combo_8.combo_bd_inv { border-color: #7d0953 !important; }
.color_combo_8 .combo_fg, .color_combo_8.combo_fg { color:#7d0953 !important; }
.color_combo_8 .combo_fg_inv, .color_combo_8.combo_fg_inv { color:#f4afdf !important; }

/* Tokyo Flash */
.color_combo_9 .combo_bg, .color_combo_9.combo_bg { background-color:#ff00ba !important; }
.color_combo_9 .combo_bg_inv, .color_combo_9.combo_bg_inv { background-color:#fffc05 !important; }
.color_combo_9 .combo_bd, .color_combo_9.combo_bd { border-color: #ff00ba !important; }
.color_combo_9 .combo_bd_inv, .color_combo_9.combo_bd_inv { border-color: #fffc05 !important; }
.color_combo_9 .combo_fg, .color_combo_9.combo_fg { color:#fffc05 !important; }
.color_combo_9 .combo_fg_inv, .color_combo_9.combo_fg_inv { color:#ff00ba !important; }

/* Pink Moon */
.color_combo_10 .combo_bg, .color_combo_10.combo_bg { background-color:#500635 !important; }
.color_combo_10 .combo_bg_inv, .color_combo_10.combo_bg_inv { background-color:#f45ec6 !important; }
.color_combo_10 .combo_bd, .color_combo_10.combo_bd { border-color: #500635 !important; }
.color_combo_10 .combo_bd_inv, .color_combo_10.combo_bd_inv { border-color: #f45ec6 !important; }
.color_combo_10 .combo_fg, .color_combo_10.combo_fg { color:#f45ec6 !important; }
.color_combo_10 .combo_fg_inv, .color_combo_10.combo_fg_inv { color:#500635 !important; }

/* Lazy Sunday */
.color_combo_11 .combo_bg, .color_combo_11.combo_bg { background-color:#ede4b2 !important; }
.color_combo_11 .combo_bg_inv, .color_combo_11.combo_bg_inv { background-color:#ff9000 !important; }
.color_combo_11 .combo_bd, .color_combo_11.combo_bd { border-color: #ede4b2 !important; }
.color_combo_11 .combo_bd_inv, .color_combo_11.combo_bd_inv { border-color: #ff9000 !important; }
.color_combo_11 .combo_fg, .color_combo_11.combo_fg { color:#ff9000 !important; }
.color_combo_11 .combo_fg_inv, .color_combo_11.combo_fg_inv { color:#ede4b2 !important; }

/* Indian Summer */
.color_combo_12 .combo_bg, .color_combo_12.combo_bg { background-color:#fb8e00 !important; }
.color_combo_12 .combo_bg_inv, .color_combo_12.combo_bg_inv { background-color:#faee8b !important; }
.color_combo_12 .combo_bd, .color_combo_12.combo_bd { border-color: #fb8e00 !important; }
.color_combo_12 .combo_bd_inv, .color_combo_12.combo_bd_inv { border-color: #faee8b !important; }
.color_combo_12 .combo_fg, .color_combo_12.combo_fg { color:#faee8b !important; }
.color_combo_12 .combo_fg_inv, .color_combo_12.combo_fg_inv { color:#fb8e00 !important; }

/* Autumn Leaves */
.color_combo_13 .combo_bg, .color_combo_13.combo_bg { background-color:#7c7e46 !important; }
.color_combo_13 .combo_bg_inv, .color_combo_13.combo_bg_inv { background-color:#ff9c00 !important; }
.color_combo_13 .combo_bd, .color_combo_13.combo_bd { border-color: #7c7e46 !important; }
.color_combo_13 .combo_bd_inv, .color_combo_13.combo_bd_inv { border-color: #ff9c00 !important; }
.color_combo_13 .combo_fg, .color_combo_13.combo_fg { color:#ff9c00 !important; }
.color_combo_13 .combo_fg_inv, .color_combo_13.combo_fg_inv { color:#7c7e46 !important; }

/* Muddy Water */
.color_combo_14 .combo_bg, .color_combo_14.combo_bg { background-color:#8d6b56 !important; }
.color_combo_14 .combo_bg_inv, .color_combo_14.combo_bg_inv { background-color:#88f8ff !important; }
.color_combo_14 .combo_bd, .color_combo_14.combo_bd { border-color: #8d6b56 !important; }
.color_combo_14 .combo_bd_inv, .color_combo_14.combo_bd_inv { border-color: #88f8ff !important; }
.color_combo_14 .combo_fg, .color_combo_14.combo_fg { color:#88f8ff !important; }
.color_combo_14 .combo_fg_inv, .color_combo_14.combo_fg_inv { color:#8d6b56 !important; }

/* From Dusk Till Dawn */
.color_combo_15 .combo_bg, .color_combo_15.combo_bg { background-color:#444444 !important; }
.color_combo_15 .combo_bg_inv, .color_combo_15.combo_bg_inv { background-color:#ff855b !important; }
.color_combo_15 .combo_bd, .color_combo_15.combo_bd { border-color: #444444 !important; }
.color_combo_15 .combo_bd_inv, .color_combo_15.combo_bd_inv { border-color: #ff855b !important; }
.color_combo_15 .combo_fg, .color_combo_15.combo_fg { color:#ff855b !important; }
.color_combo_15 .combo_fg_inv, .color_combo_15.combo_fg_inv { color:#444444 !important; }

/* Irish Spring */
.color_combo_16 .combo_bg, .color_combo_16.combo_bg { background-color:#a4ed84 !important; }
.color_combo_16 .combo_bg_inv, .color_combo_16.combo_bg_inv { background-color:#19872e !important; }
.color_combo_16 .combo_bd, .color_combo_16.combo_bd { border-color: #a4ed84 !important; }
.color_combo_16 .combo_bd_inv, .color_combo_16.combo_bd_inv { border-color: #19872e !important; }
.color_combo_16 .combo_fg, .color_combo_16.combo_fg { color:#19872e !important; }
.color_combo_16 .combo_fg_inv, .color_combo_16.combo_fg_inv { color:#a4ed84 !important; }

/* Forest Fire */
.color_combo_17 .combo_bg, .color_combo_17.combo_bg { background-color:#02ff14 !important; }
.color_combo_17 .combo_bg_inv, .color_combo_17.combo_bg_inv { background-color:#ff4c4c !important; }
.color_combo_17 .combo_bd, .color_combo_17.combo_bd { border-color: #02ff14 !important; }
.color_combo_17 .combo_bd_inv, .color_combo_17.combo_bd_inv { border-color: #ff4c4c !important; }
.color_combo_17 .combo_fg, .color_combo_17.combo_fg { color:#ff4c4c !important; }
.color_combo_17 .combo_fg_inv, .color_combo_17.combo_fg_inv { color:#02ff14 !important; }

/* Norwegian Woods */
.color_combo_18 .combo_bg, .color_combo_18.combo_bg { background-color:#19872e !important; }
.color_combo_18 .combo_bg_inv, .color_combo_18.combo_bg_inv { background-color:#f8ffcc !important; }
.color_combo_18 .combo_bd, .color_combo_18.combo_bd { border-color: #19872e !important; }
.color_combo_18 .combo_bd_inv, .color_combo_18.combo_bd_inv { border-color: #f8ffcc !important; }
.color_combo_18 .combo_fg, .color_combo_18.combo_fg { color:#f8ffcc !important; }
.color_combo_18 .combo_fg_inv, .color_combo_18.combo_fg_inv { color:#19872e !important; }

/* Green River */
.color_combo_19 .combo_bg, .color_combo_19.combo_bg { background-color:#387284 !important; }
.color_combo_19 .combo_bg_inv, .color_combo_19.combo_bg_inv { background-color:#98d93b !important; }
.color_combo_19 .combo_bd, .color_combo_19.combo_bd { border-color: #387284 !important; }
.color_combo_19 .combo_bd_inv, .color_combo_19.combo_bd_inv { border-color: #98d93b !important; }
.color_combo_19 .combo_fg, .color_combo_19.combo_fg { color:#98d93b !important; }
.color_combo_19 .combo_fg_inv, .color_combo_19.combo_fg_inv { color:#387284 !important; }

/* Silent Night */
.color_combo_20 .combo_bg, .color_combo_20.combo_bg { background-color:#27303a !important; }
.color_combo_20 .combo_bg_inv, .color_combo_20.combo_bg_inv { background-color:#18bbed !important; }
.color_combo_20 .combo_bd, .color_combo_20.combo_bd { border-color: #27303a !important; }
.color_combo_20 .combo_bd_inv, .color_combo_20.combo_bd_inv { border-color: #18bbed !important; }
.color_combo_20 .combo_fg, .color_combo_20.combo_fg { color:#18bbed !important; }
.color_combo_20 .combo_fg_inv, .color_combo_20.combo_fg_inv { color:#27303a !important; }




/* Plain Old <== usually this combo shouldn't be available to the user */
.color_combo_99 .combo_bg, .color_combo_99.combo_bg { background-color:#ffffff !important; }
.color_combo_99 .combo_bg_inv, .color_combo_99.combo_bg_inv { background-color:#222222 !important; }
.color_combo_99 .combo_bd, .color_combo_99.combo_bd { border-color: #ffffff !important; }
.color_combo_99 .combo_bd_inv, .color_combo_99.combo_bd_inv { border-color: #222222 !important; }
.color_combo_99 .combo_fg, .color_combo_99.combo_fg { color:#222222 !important; }
.color_combo_99 .combo_fg_inv, .color_combo_99.combo_fg_inv { color:#ffffff !important; }












