<script type="ld-conf">
{
  "name": "Normal",
  "styles": [
    {
      "name": "Position",
      "type": "select",
      "options": [
        {
          "caption": "Left",
          "value": "left"
        },
        {
          "caption": "Right",
          "value": "right"
        }
      ]
    },
    {
      "name": "Image Caption",
      "type": "select",
      "options": [
        {
          "caption": "Dark",
          "value": "caption-dark"
        },
        {
          "caption": "Inside",
          "value": "caption-inside"
        },
        {
          "caption": "Fading",
          "value": "caption-inside-fade"
        }
      ]
    }
  ]
}
</script>

<figure>
  <img doc-image="image" /><figcaption doc-editable="caption">The Ghibli Museum, is located in Inokashira Park in Mitaka, a western suburb of Tokyo, Japan.</figcaption>
</figure>