<script type="ld-conf">
{
  "name": "60:40: large Image Left, Block Right"
}
</script>
<table width="698" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin:0 auto;">
  <tr>
    <td width="438" align="left" valign="top" style="line-height:0;">
      <img doc-image="imageLeft" label="Image Left" src="http://cdn.suitart.com/email/ns_interest.jpg" width="438">
    </td>

    <td width="1" rowspan="2" bgcolor="#BBBBBB">
      <!-- Second Seperator -->
      <img src="http://cdn.suitart.com/email/spacer.gif" width="1" style="display:block; margin:0;">
    </td>
    <td width="219" align="left" valign="top" style="padding:5px 20px 0 20px">
        <span style="font-size:1.5em;display:block;margin:10px 0 5px 0;" doc-editable="firstTitle">Terminvereinbarung</span>
        <span style="font-size:1.3em;display:block;margin:0 0 5px 0;" doc-editable="secondTitle">Online oder am Telefon</span>
            <p doc-editable="text">Unter 0800&nbsp;800&nbsp;678 helfen unsere Experten jedem Kunden mit fachkundiger Stilberatung.</p>
            <a href="http://store.suitart.com/de/vip-kundentermin" class="more" doc-editable="button">Weitere Infos ‣</a><a href=""></a>
          <img doc-image="imageRightSmall" label="Image Right" src="http://cdn.suitart.com/email/ns_telephone.jpg" border="0" style="display:block; margin:0;" width="219">
    </td>
  </tr>
</table>
