<script type="ld-conf">
{
  "title": "Text Row"
}
</script>
<table width="698" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td valign="top" style="padding:0 40px;">
	      <p doc-editable>Ihr SuitArt Gürtel besteht aus echtem, rein pflanzlich gegerbtem Leder. Dieses feine Leder ist auf der einen Seite schwarz, und auf der anderen Seite braun gefärbt. Durch die in die Schnalle eingearbeitete Feinmechanik können Sie die Gurtschnalle drehen und den Gürtel entweder mit der schwarzen oder der braunen Seite nach Aussen tragen: Passend zu Ihren Schuhen.</p>
	  </td>
	</tr>
</table>
