<script type="ld-conf">
{
  "name": "Karten"
}
</script>


<div class="insert">
    <h4 class="inserttitle" doc-editable="title" doc-optional>Titel</h4>

    <div class="widget map">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?hl=de&amp;ie=UTF8&amp;ll=46.362093,9.036255&amp;spn=8.279854,10.612793&amp;t=h&amp;z=7&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ch/maps?hl=de&amp;ie=UTF8&amp;ll=46.362093,9.036255&amp;spn=8.279854,10.612793&amp;t=h&amp;z=7&amp;source=embed" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
    </div>

    <p class="insertcaption">
        <span class="caption" doc-editable="legend" doc-optional>Legende</span>
        <span class="source" doc-editable="source" doc-optional>Quelle</span>
    </p>
</div>
