<script type="ld-conf">
{
  "name": "Umfrage",
  "styles": [
    {
      "name": "Color Combo",
      "type": "select",
      "options": [
        {
          "caption": "Smokey Robinson",
          "value": "color_combo_1"
        },
        {
          "caption": "Classic Green",
          "value": "color_combo_2"
        },
        {
          "caption": "Classic Blue",
          "value": "color_combo_3"
        },
        {
          "caption": "Classic Magenta",
          "value": "color_combo_4"
        },
        {
          "caption": "Black Matter",
          "value": "color_combo_5"
        },
        {
          "caption": "Snowy Tundra",
          "value": "color_combo_6"
        },
        {
          "caption": "Cherry Blossom",
          "value": "color_combo_7"
        },
        {
          "caption": "Hello Pinky",
          "value": "color_combo_8"
        },
        {
          "caption": "Tokyo Flash",
          "value": "color_combo_9"
        },
        {
          "caption": "Pink Moon",
          "value": "color_combo_10"
        },
        {
          "caption": "Lazy Sunday",
          "value": "color_combo_11"
        },
        {
          "caption": "Indian Summer",
          "value": "color_combo_12"
        },
        {
          "caption": "Autumn Leaves",
          "value": "color_combo_13"
        },
        {
          "caption": "Muddy Water",
          "value": "color_combo_14"
        },
        {
          "caption": "From Dusk Till Dawn",
          "value": "color_combo_15"
        },
        {
          "caption": "Irish Spring",
          "value": "color_combo_16"
        },
        {
          "caption": "Forest Fire",
          "value": "color_combo_17"
        },
        {
          "caption": "Norwegian Woods",
          "value": "color_combo_18"
        },
        {
          "caption": "Green River",
          "value": "color_combo_19"
        },
        {
          "caption": "Silent Night",
          "value": "color_combo_20"
        }
      ]
    }
  ]
}
</script>

<div class="insert">
  <h4 class="inserttitle" doc-editable="title" doc-optional>Titel</h4>
  <div doc-html="html">
    <div class="placeholder">
      <div class="widget poll">
      </div>
    </div>
  </div>
  <p class="caption" doc-editable="caption" doc-optional>Legende</p>
  <p class="source" doc-editable="source" doc-optional>Quelle</p>
</div>
