

/* quotes */
/* ====== */
p.quote {
	font-family:'Lustria', 'Times New Roman',Times,serif;
	font-size:3.6em /* 36px / 10px */;
	margin-top:20px;
	line-height:1.3em;
	font-style: italic;
	color:#009ccc;
}

/* sources and captions */
/* ================== */
p.source,
p.caption {
	font-size:1.6em /* 16px / 10px */;
	color:#aaaaaa;
	width:auto !important;
	padding:0;
	margin:0 !important;
}

p.source {
	font-style: italic;
}

.insert.fat_full p.source,
.insert.fat_full p.caption {
	padding-left:15px;
}



/* interview */
/* ========= */
p.statement {
	border-left:0.2em solid #bababa;
	padding-left:0.5em !important;
}

p.statement.pro { border-left:0.2em solid #adf038; }
p.statement.contra { border-left:0.2em solid #f936a7; }
p.statement.neutral { border-left:0.2em solid #00c2f7; }




/* badge list */
/* ========== */
.badges {
	color:#666666;	
	font-size:1.333em; /* 24px / 18px */
	display:inline-block;
	margin-top:0.4166em; /* 10px / 24px */
}

.badges ul {
	margin:4px 0 0 0;
}

.badges .negative {
	margin-top:0;
}

.badges li {
	font-size:0.6666em; /* 16px / 24px */
	display:inline-block;
	margin-right:0.75em; /* 12px / 16px */
	margin-bottom:0.75em; /* 12px / 16px */
	padding:0;
}

.badges li a span.name,
.badges li a span.number {
	display:inline-block;
	padding:0.625em 0; /* 10px / 16px */
	font-weight:bold;
	line-height:1em; /* 16px / 16px */
	text-transform:uppercase;
	text-align:center;
}

.badges li a span.name {
	color:#ffffff;
	background-color:#156376;
	width:3.75em; /* 70px / 16px */
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	transition:color 0.5s ease;
}

.badges .negative li a span.name {
	background-color:#333333;
}

.badges li a span.name:hover {
	color:#27bbf5;
}

.badges li a span.number {
	color:#333333;
	background-color:#bababa;
	width:2em; /* 32px / 16px */
	margin-left:0.75em; /* 12px / 16px */
	position:relative;
}

.badges li a span.arrow {
	width:0; 
	height:0; /* 14px / 14px */
	display:block;
	position:absolute;
	right:2em;
	border-right:0.714em solid #bababa; /* 10px / 14px */
	border-top:0.5em solid transparent; /* 7px / 14px */
	border-bottom:0.5em solid transparent; /* 7px / 14px */
}

.badges li.top a span.number {
	color:#ffffff;
	background-color:#27bbf5;
}

.badges li.top a span.arrow {
	border-right:0.714em solid #27bbf5; /* 10px / 14px */
}






/* tag list */
/* ======== */
.tags {
	font-size:1.333em; /* 24px / 18px */
	color:#666666;	
	display:inline-block;
	margin-top:2.083em; /* 50px / 24px */
}

.tags ul {
	margin:4px 0 0 0;
}

.tags li {
	display:inline-block;
	padding:0;
}

.tags li a {
	font-size:0.6666em; /* 16px / 24px */
	display:inline-block;
	color:#00c6ff;
	background-color:#333333;
	margin-right:0.75em; /* 12px / 16px */
	margin-bottom:0.75em; /* 12px / 16px */
	padding:0.625em; /* 10px / 16px */
	font-weight:bold;
	line-height:1em; /* 16px / 16px */
	text-transform:uppercase;
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	transition:color 0.5s ease;
}

.tags li.ressort a {
	color:#a0f22c;
}

.tags li a:hover {
	color:#ffffff;
}






/* fat_full header image */
/* ===================== */
.region.full_story .full-width-container.insert.fat_full {
	position:relative;
	min-height:7em; /* 70px / 10px */
}

.region.full_story .full-width-container.insert.fat_full p.caption {
	position:absolute;
	bottom:0;
	background-color:rgba(255,255,255,0.8);
	color:#222222;
	padding:10px 15px;
	max-width:58%; /* 60% - 2% */
	width:auto;
	margin:0;
}

.region.full_story .full-width-container.insert.fat_full img {
	width:100%;
}






/* videos */
/* ====== */
.video {
	width:100%;
	height:0;
	padding-bottom:56.25%; /* 100% / 16 * 9 */
	overflow:hidden;
	cursor:pointer;
	position:relative;
}

.video:hover {
	opacity:0.95;
}

.video img.arrow {
	position:absolute;
	bottom:1em;;
	left:1em;;
	width:5em;
	height:5em;
}

.video iframe {
	position:absolute;
	width:100%;
	height:100%;
}






/* maps */
/* ==== */
.region.full_story .map {
	width:100%;
	height:0;
	padding-bottom:100%;
	overflow:hidden;
	position:relative;
	border:1px solid #aaaaaa;
}

.region.full_story .map iframe {
	position:absolute;
	width:100%;
	height:100%;
}






/* infobox */
/* ======= */
.infobox {
	padding:10px 15px;
}






/* sportstable */
/* =========== */
.sportstable {
	width:100%;
}

.sportstable td, .sportstable th {
	padding:0.333em; /* 18px / 3 => 6px */
	border-bottom:1px solid #aaaaaa;
	text-align:left;
	font-size:1.8em; /* 18px / 10px */
}

.sportstable tr.color_line_1 td { border-bottom:2px solid #84e100; }
.sportstable tr.color_line_2 td { border-bottom:2px solid #84e100; }
.sportstable tr.color_line_3 td { border-bottom:2px solid #ce0f89; }






/* polls */
/* ===== */
.region.poll .answers li {
	text-indent:-1.5em; /* 18px / 18px */
	margin-left:1.5em; /* 18px / 18px */
}

.region.poll li input {
	margin-right:0.5em; /* 9px / 18px */
}

.region.poll li a.button {
	left:1.5em; /* 18px / 18px */
	position:relative;
}

.region.poll div.result {
	display:none;
}

.region.poll div.result li {
	clear:both;
	border-top:4px solid;
	padding-top:10px;
}

.region.poll div.result .bubble {
	display:block;
	float:left;
	width:0;
	height:0;
	line-height:0;
	overflow:hidden;
	margin-right:10px;
	margin-bottom:10px;
	text-align:center;
	-webkit-border-radius:50%;
	border-radius:50%;
}

.region.poll div.result .bubble:hover {
	-webkit-border-radius:50% 33% 50% 33%;
	border-radius:50% 33% 50% 33%;
	-webkit-transition: -webkit-border-radius 0.5s ease;
	transition: border-radius 0.5s ease;
}

.region.poll div.result .answertext {
	display:none;
	float:left;
}

/* peephole & panorama */
/* =================== */
.region.full_story .peephole {
	height:40em;
	position:relative;
	background-attachment:fixed;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}

.region.full_story .panorama {
	height:40em;
	position:relative;
	overflow:hidden;
}

.region.full_story .panorama img {
	height:100%;
	width:auto;
	position:absolute;
	left:0;
	top:0;
}

.region.full_story .panorama p,
.region.full_story .peephole p {
	margin:0;
	padding:0;
	position:absolute;
	bottom:0;
	left:0;
	width:96%;
	padding:2%;
	font-family:'Lustria', 'Times New Roman',Times,serif;
	font-size:3.6em /* 36px / 10px */;
	text-align:center;
	line-height:1em;
	font-style: italic;
}

.region.full_story .panorama p .combo_bg,
.region.full_story .peephole p .combo_bg {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	opacity:0.4;
}

.region.full_story .panorama p .combo_fg,
.region.full_story .peephole p .combo_fg {
	position:relative;
}

/* nur zum test */
/* ============ */
.region.full_story .imagebar img {
	width:33%;
	margin:0 0.16666% 4px 0.16666%;
}

.social_box {
	width:321px;
	float:right;
	margin:0 2% 20px 20px;
}













