
/*

width => %
height => px

*/

/* general definitions */
body {
	font-family:'Gudea', helvetica, arial, sans-serif;
	background-color:#ffffff;
	font-size:10px; /* set em-size for whole page. 1em = 10px */
}

a {
	text-decoration:none;
	color:#009ccc;
	cursor:pointer;
}

a:hover {
	color:#222222;
}

strong {
	font-weight:bold;
}

/* wrapper */
.wrapper {
	width:1140px;
	margin:0 auto;
	overflow:hidden;
	top:-2px;
}

.fat_wrapper {
	width:100.8%;
	position:relative;
	top:-2px;
}


/* regions */
.region {
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	border-width:0 4px 4px 0;
	border-color: #ffffff;
	border-style:solid;
	position:relative;
	overflow:hidden;
	background-position:center center;
	background-size:cover;
}

.region .region {
	width:100%;
	border:0;
	border-bottom:4px solid #ffffff;
}

.region.x_third_desktop {
	width:33.333333%;
}

.region.x_half_desktop {
	width:50%;
}

.region.x_two_thirds_desktop {
	width:66.666666%;
}

.region.x_full_desktop {
	width:100%;
}

.region.y_quarter {
	height:151px;
}

.region.y_half {
	height:302px;
}

.region.y_full {
	height:604px;
}




/* teaser items */
.region .titlepic {
	position:absolute;
	top:0;
	width:100%;
	height:100%;
}

.region .text {
	width:100%;
	position:absolute;
	bottom:0;
	background-color:rgba(255,255,255,0.8);
	padding-top:10px;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* content provider logos */
.region .text .source_logo {
	width:14em; /* 140px / 10px */
	opacity:0.6;
	display:block;
	margin:0 auto 1em auto; /* 10px / 10px */
}

/* badges */
.region .text .badge {
	position:absolute;
	top:-3.5em; /* 35px / 10px */
	right:15px;
	display:block;
	width:7em; /* 70px / 10px */
	height:7em; /* 70px / 10px */
	line-height:7em; /* 70px / 10px */
	text-align:center;
	overflow:hidden;
}

.region .text .badge.hot {
	top:-4.5em; /* 45px / 10px */
}

.region .text .badge img, .region .text .badge span {
	position:absolute;
	left:0;
	top:0;
	font-size:1.6em; /* 16px / 10px */
	font-weight:bold;
	color:#ffffff;
	text-transform:uppercase;
}

.region .text .badge.hot span {
	text-transform:lowercase;
	font-size:1.4em; /* 14px / 10px */
	line-height: 0.857em; /* 12px / 14px */
	padding:43% 18% 0 22%; /* a little bit to the right, out of optical reasons */
	width:60%;
}

/* media icons */
.region .text .media_icons {
	position:absolute;
	bottom:100%;
	margin-bottom:2px; /* 6px - 4px */
	left:15px;
}

.region .text .media_icons .comments {
	display:block;
	width:3.5em; /* 35px / 10px */
	height:3em; /* 30px / 10px */
	position:relative;
	line-height:2.3em; /* 23px / 10px */
	margin-bottom:4px;
	margin-left:-0.55em; /* (35px-24px) / 2 / 10px */
}

.region .text .media_icons .comments span {
	display:block;
	width:100%;
	position:absolute;
	text-align:center;
	top:0;
	left:0;
	color:#cccccc;
	font-size:1.4em; /* 14px / 10px */
	font-weight:bold;
}

.region .text .media_icons .video {
	display:block;
	width:2.4em; /* 24px / 10px */
	height:1.6em; /* 16px / 10px */
	margin-bottom:4px;
}

.region .text .media_icons .tag {
	color:#00c6ff;
	background-color:rgba(0,0,0,0.8);
	margin-bottom:4px;
	margin-left:-9px;
	padding:0.625em; /* 10px / 16px */
	font-weight:bold;
	font-size:1.6em; /* 16px / 10px => ignores .font_l etc. */
	line-height:1em; /* 16px / 16px */
	text-transform:uppercase;
}

.region .text .media_icons .tag.ressort {
	color:#a0f22c;
}

/* linked_teaser */
.region.linked_teaser {
	cursor:pointer;
}

.region.linked_teaser .text a {
	display:block;
	color: inherit;
}

.region h2,
.region p.lead,
.region p,
.region li,
.region h3,
.region h4,
.region h2 a,
.region p.lead a,
.region h3 a {
	padding:0 15px 10px 15px;
	margin:0;
	color:#222222;
}

.region.linked_teaser:hover a {
	color:#000000;
}

.region.linked_teaser h2,
.region.linked_teaser p,
.region.linked_teaser h3 {
	padding:0;
}





/* standard */
.region h2 {
	font-size:3em; /* 30px / 10px */
	font-weight:bold;
	line-height:1.0em;
}

.region h3 {
	font-size:1.6em; /* 16px / 10px */
	font-weight:normal;
	text-transform:uppercase;
}

.region h4 {
	font-size:2em; /* 20px / 10px */
	font-weight:normal;
}

.region p, .region ul {
	font-size:1.8em /* 18px / 10px */;
	line-height:1.3em;
}

.region p.lead .author {
	font-weight:bold;
	text-transform: lowercase;
}

.region p.lead .author .internal {
	border-bottom:2px solid #f9349e;
	height:1.1em;
	float:left;
}


/* klein */
.region.font_s h2 { font-size:2em; } /* 20px / 10px */
.region.font_s p.lead { display:none; }
.region.font_s h3 { font-size:1.2em; } /* 12px / 10px */

/* gross */
.region.font_l h2 { font-size:5em; } /* 50px / 10px */
.region.font_l p.lead { font-size:2em; } /* 20px / 10px */
.region.font_l h3 { font-size:1.6em; } /* 16px / 10px */

/* sehr gross */
.region.font_xl h2 { font-size:8em; letter-spacing:-0.01em; } /* 80px / 10px */
.region.font_xl p.lead { font-size:2em; } /* 20px / 10px */
.region.font_xl h3 { font-size:1.6em; } /* 16px / 10px */

/* xxl */
.region.font_xxl h2 { font-size:10em; letter-spacing:-0.01em; } /* 100px / 10px */
.region.font_xxl p.lead { font-size:2em; } /* 20px / 10px */
.region.font_xxl h3 { font-size:1.6em; } /* 16px / 10px */

.region.y_half p.lead,
.region.y_quarter p.lead { display:none; }

/* cursive */
.region.font_cursive h2 {
	font-weight:normal;
	font-style: italic;
	font-family:'Lustria','Times New Roman',Times,serif;
}


/* text only regions */
/* ================= */
.region.text_only .text { background-color:transparent; }
.region.text_only { overflow:visible; }


/* non story teasers */
/* ================= */
.region.non_story_teaser .text { background-color:rgba(0,0,0,0.8); }

.region.non_story_teaser h2 { 
	color:#ffffff;
	font-size:4em; /* 40px / 10px => ignores .font_l etc. */
}

.region.non_story_teaser h3 {
	color:#ffffff;
	font-size:3em; /* 30px / 10px => ignores .font_l etc. */
}

/* collection regions */
/* ================== */
.region.collection_main {
	border-right:0;	
}

.region.collection_main .text {
	background-color:transparent;
	top:45%;
	bottom:auto;
}

.region.collection_main h2 { 
	color:#ffffff;
	border-bottom:0.2em solid #0FB4F4; /* 10px / 50px */
	display:inline-block;
	padding-bottom:0;
}

.region.collection_main p,
.region.collection_main h3 { display:none; }

.region.collection_context {
	overflow:visible;
}

/* region arrows */
/* ============= */
.region.text_only .arrow {
	position:absolute;
	z-index:1;
	width:0;
	height:0;
	border:2em solid;
}

.region.text_only .arrow.left {
	left:-4em;
	border-left-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.region.text_only .arrow.right {
	right:-4em;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.region.text_only .arrow.top {
	top:-4em;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.region.text_only .arrow.bottom {
	bottom:-4em;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.region.text_only .arrow.x_middle {
	left:50%;
	margin-left:-2em;
}

.region.text_only .arrow.x_left {
	left:25%;
	margin-left:-2em;
}

.region.text_only .arrow.x_right {
	left:75%;
	margin-left:-2em;
}

.region.text_only .arrow.y_middle {
	top:50%;
	margin-top:-2em;
}

.region.text_only .arrow.y_upper {
	top:12.5%;
	margin-top:-2em;
}

.region.text_only .arrow.y_lower {
	top:87.5%;
	margin-top:-2em;
}



/* commercial regions */
/* ================== */
.region.commercial {
	text-align:center;
	background-color:#eeeeee;
}

.region.commercial .rectangle {
	margin-top:20px;
}





/* form elements */
/* ============= */
input, a.button {
	font-family:'Gudea', helvetica, arial, sans-serif;
	font-size:1em;
	border:0;
	padding:0.2em;
	margin: 0 0.2em 0.2em 0;
	-webkit-border-radius:0.2em;
	border-radius:0.2em; 
	-webkit-appearance: none;
	appearance: none;
}

input.darkback, a.button.darkback {
	background-color:rgba(0,0,0,0.5);
}

input.lightback, a.button.lightback {
	background-color:rgba(255,255,255,0.5);
}

input.darkfont, a.button.darkfont {
	color:#222222;
}

input.lightfont, a.button.lightfont {
	color:#ffffff;
}

input.button,
a.button {
	background-color:#009ccc;
	color:#ffffff;
	cursor:pointer;
}

input.button:hover,
a.button:hover {
	background-color:#0fb4f4;
}


/* general handyness */
.stretch_to_fit {
	width:100%;
	height:100%;
}
/* custom hide and display */
.hide_on_desktop { display:none !important; }
.show_on_desktop { display:block !important; }

/* custom hyphenation */
.dont_hyphenate {
	-moz-hyphens: manual !important;
	-webkit-hyphens: manual !important;
	-ms-hyphens: manual !important;
	-o-hyphens: manual !important;
}


























