


@media screen and (max-width: 600px) {
	
	.naviblock .expandable {
		width:100%;
		right:-100%;
	}
	
	.naviblock .tagcloud {
		padding:0 1em 0 1em; /* 16px / 16px */
		font-size:1.6em; /* 16px / 10px */
	}
	
	.naviblock .tagcloud li {
		line-height:2.7em;
	}
	
	.naviblock .segment {
		width:100%;
	}
	
	.naviblock .alt_links {
		font-size: 1.6em; /* 16px / 10px */
	}
	
	.naviblock form.search {
		margin-top:3.5em; /* 35px / 10px */
	}
	
	.naviblock form.search input.field {
		width:70%;
	}
	
	.naviblock form.search a.fav img {
		width:2em;
		margin-top:-0.3em;
	}
	
	.naviblock ul.suggestions,
	.naviblock ul.favs {
		left:5%;
		width:90%;
		font-size:1.2em;
	}
	
	.naviblock ul.favs li .delete {
		display:inline;
	}
}