

/* particle cloud main */
/* =================== */
.particle_cloud {
	background-color:#000000;
	height:50em; /* 500px / 10px */
	position:relative;
	overflow:hidden;
}

.particle_cloud.full_page {
	height:500em; /* 5000px / 10px */
}

.particle_cloud .layer {
	font-size:2em; /* 20px / 10px */
	position:absolute;
	top:0;
	left:0;width:100%;
}

.particle_cloud .particle {
	position:absolute;
	white-space:nowrap;
}

.particle_cloud a.particle {
	padding:0.5em;
	transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	-webkit-transition:color 0.5s ease;
}

.particle_cloud a.particle.ressort {
	color:#a0f22c;
}

.particle_cloud a.particle img {
	width:3em;
}

.particle_cloud a.particle:hover {
	color:#ffffff;
}

.particle_cloud .layer:nth-child(1) .particle {
	background-color:#111111;
}

.particle_cloud .layer:nth-child(2) .particle {
	-moz-transform:scale(1.2,1.2);
	-webkit-transform:scale(1.2,1.2);
	-o-transform:scale(1.2,1.2);
	transform:scale(1.2,1.2);
	background-color:#181818;
}

.particle_cloud .layer:nth-child(3) .particle {
	-moz-transform:scale(1.4,1.4);
	-webkit-transform:scale(1.4,1.4);
	-o-transform:scale(1.4,1.4);
	transform:scale(1.4,1.4);
	background-color:#222222;
}

.particle_cloud .layer:nth-child(4) .particle {
	-moz-transform:scale(1.6,1.6);
	-webkit-transform:scale(1.6,1.6);
	-o-transform:scale(1.6,1.6);
	transform:scale(1.6,1.6);
	background-color:#282828;
}

.particle_cloud .layer:nth-child(5) .particle {
	-moz-transform:scale(1.8,1.8);
	-webkit-transform:scale(1.8,1.8);
	-o-transform:scale(1.8,1.8);
	transform:scale(1.8,1.8);
	background-color:#333333;
}






/* history tag cloud */
/* ================= */
.particle_cloud .date {
	font-size:4em; /* 40px / 10px */
	width:98%;
	padding:1%;
	text-align:center;
	color:#333333;
	position:fixed;
	bottom:0;
	left:0;
	background-color:#ffffff;
}

.particle_cloud .date .next,
.particle_cloud .date .previous {
	font-size:0.5em;
}

.particle_cloud .date .next img,
.particle_cloud .date .previous img {
	height:1em;
	width:auto;
	vertical-align:top;
}

.particle_cloud .date .previous {
	display:none;
}

.particle_cloud .date .next a:hover,
.particle_cloud .date .previous a:hover {
	color:#333333;
}

@media screen and (max-width: 600px) {
	.particle_cloud .date .next,
	.particle_cloud .date .previous {
		font-size:0.8em;
	}
}






