



@media screen and (max-width: 600px) {
	.region.full_story p,
	.region.full_story h2,
	.region.full_story h3,
	.region.full_story h4,
	.region.full_story .insert {
		width:auto !important;
		clear:both !important;
		float:none !important;
		display:block !important;
	}
	
	.region.full_story .insert.hide_on_mobile {
		display:none !important;
	}
	
	.region.full_story .story-container .insert {
		margin:0 15px 10px 15px !important;
	}
	
	.region.full_story .insert.commercial {
		width:100%;
		margin:0 0 10px 0 !important;
	}
}