



@media screen and (max-width: 1000px) {
	.region.full_story .text {
		margin-left:0;
		width:100%;
	}
	
	.region.full_story p,
	.region.full_story h3,
	.region.full_story .insert.maincol {
		width:80%;
	}
	
	/* fat_full header image */
	.region.full_story .full-width-container.insert.fat_full p.caption {
		max-width:78% !important; /* 80% - 2% */
	}
	
	/* nur zum test */
	.region.full_story .imagebar img {
		width:49.6%;
		margin:0 0.2% 2px 0.2%;
	}
}