



@media screen and (max-width: 1000px) {
	.region.full_story .text {
		margin-left:0;
		width:100%;
	}
	
	.region.full_story p,
	.region.full_story h3,
	.region.full_story .insert.maincol {
		width:80%;
	}
	
	/* nur zum test */
	.region.full_story .imagebar img {
		width:49.6%;
		margin:0 0.2% 2px 0.2%;
	}
}