




.region.full_story .text {
	position:static;
	margin-left:10%;
	margin-bottom:60px;
	width:85%;
}

.region.full_story p.date,
.region.full_story p.author {
	color:#666666;
	font-size:1.4em /* 14px / 10px */
}

.region.full_story p.lead {
	font-weight:bold;
	font-style:italic;
}

.region.full_story p.half_title {
	font-size:2em /* 20px / 10px */;
	font-weight:bold;
	margin-top:20px;
}

.region.full_story p,
.region.full_story h3 {
	width:60%;
}

.region.full_story h2 {
	width:auto;
}

/* inserts */
/* ======= */
.region.full_story .insert p,
.region.full_story .insert h4 {
	width:100%;
	padding:0;
	margin-right:0;
	margin-left:0;
}

/* default insert (hanging to the right) */
.region.full_story .insert {
	margin:0 2% 10px 2%;
	padding:0;
	width:56%;
	float:right;
}

.insert img {
	width:100%;
}

/* full wid with margin */
.region.full_story .insert.full {
	width:97%;
	margin:0 1.5% 10px 1.5%;
}

/* full width without margin */
.region.full_story .insert.fat_full {
	width:100%;
	margin:0 0 10px 0;
}

/* fifty fifty */
.region.full_story .insert.fifty_fifty {
	width:46.4%;
	margin:0 1.8% 10px 1.8%;
}

/* right side only */
.region.full_story .insert.side {
	width:34%;
	margin:0 2% 10px 2%;
}

/* left side only */
.region.full_story .insert.maincol {
	width:60%;
	margin:0 0 10px 1.8%;
	float:none;
}

.region.full_story .insert.maincol.block {
	display:inline-block;
}

.region.full_story .insert.commercial {
	text-align:center;
	background-color:#eeeeee;
}

.region.full_story .insert.commercial img {
	width:90%;
	margin:1.5em 0;
}











