/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.page__header {
  height: 100%;
  margin-bottom: 3 * $base-spacing-unit;
}
  .page__header__content {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    
    height: 100%;

    background: url('images/ghibli-studio-header.jpg') center bottom no-repeat;

    @include vendor(background-size, cover); 
  }