/*------------------------------------*\
    $FLEXBOX
\*------------------------------------*/
/**
 * Until we can utilise flexbox natively we can kinda, sorta, attempt to emulate
 * it, in a way... e.g.:
 *
   <header class=flexbox>

       <div class=flexbox__item>
           <b>Welcome to</b>
       </div>

       <div class=flexbox__item>
           <img src="//csswizardry.com/inuitcss/img/logo.jpg" alt="inuit.css">
       </div>

   </header>
 *
 */
.flexbox{
  width: 100%;
  display: table;
}

/**
 * Nasty hack to circumvent Modernizr conflicts.
 */
html.flexbox{
  width: auto;
  display: block;
}
  .flexbox__item{
      display: table-cell;
      vertical-align: middle;
  }