/*------------------------------------*\
    $MEDIABOX
\*------------------------------------*/
//
//  TODO: Needs to be optmized
//
.media-box {
  img {
    display: block;
  }
}
  .media-box-content {
    display: inline-block;
    position: relative;
  }

  .media-box__caption {
    color: $text--light;
    font-family: $font-fam--lft-etica;
    
    padding-top: $half-spacing-unit;
    padding-bottom: $half-spacing-unit;
    border-bottom: 1px solid $border--light;


    @include font-size(14px, false);

    strong {
      color: $text;
    }    
  }


.media-box--full-width {
  margin-left: auto;
  margin-right: auto;
  text-align: center;


  .media-box__caption {
    text-align: left;
    padding-top: $half-spacing-unit;
    padding-left: $half-spacing-unit;
    padding-right: $half-spacing-unit;

    background-color: rgba(255,255,255,.80);
  }
}


.media-box--right {
  float: right;

  margin-top: $half-spacing-unit;
  margin-left: $base-spacing-unit;
}

.media-box--left {
  float: left;

  margin-top: $half-spacing-unit;
  margin-right: $base-spacing-unit;
}
