<script type="ld-conf">
{
  "name": "Image",
  "styles": [
    {
      "name": "Position",
      "type": "select",
      "options": [
        { "caption": "Default",  "value": "" },
        { "caption": "Left",  "value": "media-box--left" },
        { "caption": "Right", "value": "media-box--right" },
        { "caption": "Full Width", "value": "media-box--full-width" }
      ]
    }
  ]
}
</script>

 <figure class="media-box">
      <div class="media-box-content">
        <img doc-image="image">
        <figcaption class="media-box__caption" doc-editable="text">
          Caption
        </figcaption>
      </div>
</figure>
