<script type="ld-conf">
{
  "name": "Cover"
}
</script>

<div class="insert">
  <h4 class="inserttitle" doc-editable="title">Titel</h4>

<div class="widget cover" style="background-image:url(http://placehold.it/1024x600/BEF56F/B2E668);">
		<div class="covertitle">
      <h3 class="uppertitle" doc-editable="uppertitle">Oberzeile</h3>
      <h2 class="maintitle" doc-editable="maintitle">Titel</h2>
		</div>
</div>


  <p class="caption" doc-editable="legend">Legende</p>
  <p class="source" doc-editable="source">Quelle</p>
</div>

