<script type="ld-conf">
{
  "name": "Umfrage"
}
</script>

<div class="widget poll">
	<div class="text">
		<div class="answers">
			<h3>Umfrage</h3>
			<h2 style="line-height:1.05em;">Wer gewinnt die Tour de France?</h2>
			<input type="hidden" class="poll_id" name="poll_id" value="18">
			<ul>
				<li><input type="radio" class="radio" name="poll_1" id="poll_1_1" value="55"><label for="poll_1_1">Chris Froome</label></li>
				<li><input type="radio" class="radio" name="poll_1" id="poll_1_2" value="56"><label for="poll_1_2">Alberto Contador</label></li>
				<li><input type="radio" class="radio" name="poll_1" id="poll_1_3" value="57"><label for="poll_1_3">Cadel Evans</label></li>
				<li><a href="javascript:;" class="button combo_bg_inv combo_fg_inv">vote</a></li>
			</ul>
		</div>
	<div class="result">
		<p>Wer gewinnt die Tour de France?</p>
		<ul>
			<li class="combo_bd_inv"><span class="bubble combo_bg_inv combo_fg_inv">16%</span><span class="answertext">Chris Froome</span></li>
			<li class="combo_bd_inv"><span class="bubble combo_bg_inv combo_fg_inv">36%</span><span class="answertext">Cadel Evans</span></li>
			<li class="combo_bd_inv"><span class="bubble combo_bg_inv combo_fg_inv">48%</span><span class="answertext">Alberto Contador</span></li>
		</ul>
	</div>
	</div>
</div>
