<script type="ld-conf">
{
  "name": "Tweet"
}
</script>

<div class="tweet" doc-html="html">
  <blockquote class="twitter-tweet" lang="en">
    <p>
      Die <a href="https://twitter.com/search?q=%23T%C3%BCrkei&amp;src=hash">#Türkei</a> darf wieder twittern: Die Telekombehörde hebt das Twitter-Verbot auf. <a href="http://t.co/NXwWCBKUnm">http://t.co/NXwWCBKUnm</a> ^az
    </p>
    &mdash; SRF News (@srfnews) <a href="https://twitter.com/srfnews/statuses/451733039866200064">April 3, 2014</a></blockquote>
</div>