.placeholder {
  box-sizing: border-box;
  border: 1px dashed #999;
  color: #0fb4f4;

  .panorama-ad {
    min-height: 100px;
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_ads.svg);
    background-position: 50% 30%;
    background-repeat: no-repeat;

    &:before {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align:center;
      font-size: 40px;
      opacity: 0.4;
      content: 'Werbung';
    }
  }

  .skyscraper-ad {
    min-height: 400px;
    max-height: 600px;
    max-width: 300px;

    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_ads.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align:center;
      font-size: 40px;
      opacity: 0.4;
      content: 'Werbung';
    }
  }

  .video {
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_video.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align:center;
      font-size: 40px;
      opacity: 0.4;
      content: 'Video';
    }
  }

  .tweet {
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_twitter.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;

    &:before {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align:center;
      font-size: 40px;
      opacity: 0.4;
      content: 'Tweet';
    }
  }

  .poll {
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_poll.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align:center;
      font-size: 40px;
      opacity: 0.4;
      content: 'Poll';
    }
  }

  .html-element {
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_html.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;

    &:before {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align:center;
      font-size: 40px;
      opacity: 0.4;
      content: 'Html Element';
    }
  }

}