.bordered () {
  box-sizing: border-box;
  border: 1px dashed #999;
  color: #0fb4f4;
}

.widget-html() {
  min-height: 200px;
  background-position: 50% 30%;
  background-repeat: no-repeat;

  &:before {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align:center;
    font-size: 40px;
    opacity: 0.4;
  }
}

.widget-background-image() {
  min-height: 300px;
  background-position: 50% 30%;
  background-repeat: no-repeat;

  &:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align:center;
    font-size: 40px;
    opacity: 0.4;
  }
}

.widget-ad() {
  background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_ads.svg);
  background-position: 50% 30%;
  background-repeat: no-repeat;

  &:before {
    font-size: 40px;
    opacity: 0.4;
    content: 'Werbung';
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
  }
}


div[watson-ui-placeholder="panorama"] {
  .bordered();

  .widget {
    min-height: 300px;
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_ads.svg);
    .widget-ad();
  }
}

div[watson-ui-placeholder="skyscraper"] {
  .bordered();

  .widget {
    min-width: 360px;
    min-height: 600px;
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_ads.svg);
    .widget-ad();
  }
}

/* tablet */
/* ====== */
@media screen and (max-width: 1000px) {
  div[watson-ui-placeholder="skyscraper"], div[watson-ui-placeholder="panorama"] {
    .widget {
      min-height: 128px;
    }
  }
}

div[watson-ui-placeholder="video"] {
  .widget {
    .bordered();
  }

  .widget .placeholder {
    .widget-html();
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_video.svg);
    &:before {
      content: 'Video';
    }
  }
}

div[watson-ui-placeholder="tweet"] {
  .widget {
    .bordered();
  }

  .widget .placeholder {
    .widget-html();
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_twitter.svg);
    &:before {
      content: 'Twitter';
    }
  }
}

div[watson-ui-placeholder="poll"] {
  .widget {
    .bordered();
  }

  .widget .placeholder {
    .widget-html();
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_poll.svg);
    &:before {
      content: 'Poll';
    }
  }
}

div[watson-ui-placeholder="form"] {
  .bordered();

  .placeholder {
    .widget-html();
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_poll.svg);
    &:before {
      content: 'Formular';
    }
  }
}

div[watson-ui-placeholder="image-wall"] {
  .bordered();

  .placeholder {
    .widget-html();
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_html.svg);
    &:before {
      content: 'Image Wall';
    }
  }
}

div[watson-ui-placeholder="html"] {
  .widget {
    .bordered();
  }

  .widget .placeholder {
    .widget-html();
    background-image: url(https://s3-eu-west-1.amazonaws.com/watson-media/images/snippet-placeholder/pre_html.svg);
    &:before {
      content: 'HTML';
    }
  }
}