/* wrappers */
/* ======== */
.wrapper {
    overflow:visible;
}

.wrapper.no_top_insert {
    padding-top:7em;
}

/* story definitions, only used on story layouts */
/* ============================================= */
.story {
    position:static;
    margin-left:10%;
    width:85%;
}

.story h2.maintitle {
    font-size:10em; /* 100px / 10px */
    font-family:helvetica, "Gudea", sans-serif;
    font-weight:bold;
    line-height:1em;
    -moz-hyphens: manual;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    -o-hyphens: manual;
    hyphens: manual;
    margin-bottom:10px;
}

.story h3.uppertitle {
    font-size:1.6em; /* 16px / 10px */
    font-weight:normal;
    text-transform:uppercase;
    width:60%;
    margin-bottom:10px;
}

.story h4.tweentitle {
    width: 60%;
    font-size:2.2em /* 22px / 10px */;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-weight:bold;
}

.story h4.tweentitle .number {
    background: #444;
    color: #a0f22c;
    font-size: 1.5em; /* 33px / 22px */
    line-height: 1.2em;
    margin: 5px 10px 0 0;
    padding: 0 15px;
}

p.source,
p.caption {
    font-size:1.6em /* 16px / 10px */;
    color:#666;
    width:auto !important;
    padding:0;
    margin:0 !important;
}

p.source, p.caption .source {
    color: #888;
    font-style: italic;
}

.insert.jumbo p.source,
.insert.jumbo p.caption {
    padding-left:1%;
    max-width: 80%;
}

.insert.cinemascope p.source,
.insert.cinemascope p.caption {
    padding-left:1%;
    max-width: 60%;
}

.story p.date {
    font-size: 1.4em;
    margin: 0 0 5px 0;
    color: #666;
}

.story p.author {
    color:#666666;
    margin: 0 0 10px 0;
    padding: 5px 0;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    text-transform: lowercase;
    text-align: center;
}

.story p.lead {
    font-weight:bold;
    font-style:italic;
    font-size:2.2em;
}

.story p.lead .author .internal {
    border-bottom:2px solid #f9349e;
    height:1.1em;
    display:inline-block;
}

.story p.lead .author .external {
    border-bottom:2px solid #aaaaaa;
    height:1.1em;
    display:inline-block;
}

.story p.font_l, .story p .font_l {
    font-size: 2em;
    line-height: 1.1em;
}


.story p, .story ul, .story ol, .story h4.tweentitle {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    width:60%;
}

.story p, .story ul, .story ol {
    font-size:1.8em /* 18px / 10px */;
    line-height:1.3em;
    margin-bottom:20px;
}

.story ol {
    list-style-type:decimal;
    margin: 0px 0 20px 35px;
}

.story ol li {
    margin:0;
    padding: 0 0 10px 15px;
}



/* inserts */
/* ======= */
/* default insert (textflow)*/
/* reset insert values */
.story .insert {
    position: relative;
    max-width:60%;
    margin:0 0 5px 0;
    float:none;
    overflow: hidden;
}

/* reset insert values */
.story .insert p,
.story .insert h2,
.story .insert h3,
.story .insert h4,
.story .insert ul,
.story .insert ol {
    width:auto;
    padding:0;
    margin:0 0 4px 0;
}

.story .insert h4.inserttitle {
    font-size: 2.2em; /* 22px / 10px */
    color: #222;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 5px;
}

.story .insert h4.inserttitle .number {
    background: #444;
    color: #a0f22c;
    font-size: 1.5em; /* 33px / 22px */
    line-height: 1.2em;
    margin: 5px 10px 0 0;
    padding: 0 15px;
}


.story .insert p.caption.inside {
    bottom: 0;
    font-family: 'Tinos','Times New Roman',Times,serif;
    font-size: 3.6em;
    font-style: italic;
    left: 0;
    line-height: 1em;
    margin: 0;
    padding: 2%;
    position: absolute;
    text-align: center;
    width: 96% !important;
}

/*jumbo insert – cinemascope insert */
.story .insert.jumbo,
.story .insert.cinemascope {
    position:relative;
    max-width:none;
    width:117.5%;
    left:-11.7%;
    margin:0px 0% 25px 0%;
    clear:both;
}

.story .insert.jumbo {
    margin: 0 0% 20px 0%;
}

/* full insert */
.story .insert.full {
    max-width:none;
    width:100%;
    margin:0px 0 10px 0;
    clear:both;
}

/* half insert */
.story .insert.half {
    max-width:none;
    width:49.5%;
    margin:0 0.25% 10px 0.25%;
    float:left;
}

/* side insert */
.story .insert.side {
    max-width:none;
    clear:right;
    float: right;
    width:37%;
    margin:0 0 10px 2%;
}

/* left side only */
.story .insert.right {
    max-width:none;
    clear:right;
    margin:0 0 20px 2%;
    padding:0;
    width:56%;
    float:right;
    font-size:inherit;
    line-height:auto;
}

.story .insert.block {
    display:inline-block;
    clear:both;
}

.story .insert.shift-right {
    padding-left:10%;
}

.story .insert.shift-left {
    padding-left:-10%;
}

.story .insert.commercial {
    text-align:center;
    background-color:#eeeeee;
}

.story .insert.commercial img {
    width:90%;
    height:auto;
    margin:1.5em 0;
}








/* tablet */
/* ====== */
@media screen and (max-width: 1000px) {

    .wrapper {
        overflow: hidden;
    }

    .wrapper.no_top_insert {
        padding-top:11em;
    }

    .story {
        margin-left:4%;
        margin-right:4%;
        width:auto;
    }

    .story p,
    .story h3,
    .story .insert {
        width:80%;
        max-width:80%;
    }

    .story .insert.jumbo .caption,
    .story .insert.jumbo .source,
    .story .insert.cinemascope .caption,
    .story .insert.cinemascope .source {
        padding-left:4%;
    }

    .story .insert.jumbo, .story .insert.cinemascope {
        width:110% !important;
        left:-5% !important;
    }
}







/* mobile */
/* ====== */
@media screen and (max-width: 600px) {

    .wrapper.no_top_insert {
        padding-top:8em;
    }

    .logoblock {
        display: none;
    }

    .currentblock {
        top:0;
    }

    .story h2, .story h3, .story h4, .story p {letter-spacing:0 !important;}
    .story h2.maintitle { font-size:5em; } /* 35px / 7px */
    .story p, .story p.lead, .story ul, .story ol { font-size:2.2857em !important; } /* 16px / 7px */
    .story h3, .story p.label, .story p.date { font-size:1.7142em !important; } /* 12px / 7px */
    .story h4, .story p.lead, .story p.half_title { font-size:2.571em !important; } /* 18px / 7px */
    .story p.caption, .story p.source { font-size:2em !important; } /* 14px / 7px */

    .story p,
    .story h2,
    .story h3,
    .story h4,
    .story .insert {
        width:auto !important;
        clear:both !important;
        float:none !important;
        display:block !important;
        max-width: none !important;
    }

    .story .insert p.caption.inside {
        font-size:2.571em !important;
        position: static;
    }

    .story .insert.hide_on_mobile {
        display:none !important;
    }

    /*inserts*/
    .story .insert.right {
        margin:0 0 5px 0px !important;
    }

    .story .insert.side {
        margin:0 0 5px 0;
    }

    .story .insert.commercial {
        width:100%;
        margin:0 0 10px 0 !important;
    }
}


/* dynamic comments / stackable articles loader */
.ajax_loader_story {
    text-align: center;
    display: none;
}

.ajax_loader_story img {
    width: 64px;
    height: 21px;
}