/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
/**
 * If English quotes are set in `_defaults.scss`, define them here.
 */
@if $english-quotes == true{
    $open-quote:    \201C;
    $close-quote:   \201D;
}


/**
 * Big up @boblet: html5doctor.com/blockquote-q-cite
 */

blockquote {
  quotes:"#{$open-quote}" "#{$close-quote}";

  p:before {
    content: "#{$open-quote}";
    content: open-quote;
  }
  p:after {
    content: "";
    content: no-close-quote;
  }
  p:last-of-type:after {
    content: "#{$close-quote}";
    content: close-quote;
  }

  q:before {
    content: "\2018";
    content: open-quote;
  }
  q:after {
    content: "\2019";
    content: close-quote;
  }
}


/**
 *
   <blockquote>
       <p>Insanity: doing the same thing over and over again and expecting
       different results.</p>
       <b class=source>Albert Einstein</b>
   </blockquote>
 *
 */
blockquote {
  line-height: 1.7;

  padding-top: $base-spacing-unit - 2px;
  padding-bottom: $base-spacing-unit - 2px;

  @include font-size(23px, false);
  
  p {
    font-style: italic;
  }
  
  p:last-of-type {
    margin-bottom: 0;
  }
}

.source{
  display: block;
  text-indent: 0;
  font-weight: normal;

  &:before{
    content:"\2014";
  }
}
