<script type="ld-conf">
{
  "name": "Bildleiste"
}
</script>

<div class="insert">
  <h4 class="inserttitle" doc-editable="title" doc-optional>Titel</h4>

  	<div class="widget imagebar">
		<div class="imagebox"><img src="http://placehold.it/580x332/BEF56F/000000&text=hier%20klicken%20um%20bild%20auszuw%C3%A4hlen" alt="IMG" /></div>
		<div class="imagebox"><img src="http://placehold.it/580x332/BEF56F/000000&text=hier%20klicken%20um%20bild%20auszuw%C3%A4hlen" alt="IMG" /></div>
		<div class="imagebox"><img src="http://placehold.it/580x332/BEF56F/000000&text=hier%20klicken%20um%20bild%20auszuw%C3%A4hlen" alt="IMG" /></div>
	</div>

  <p class="caption" doc-editable="legend" doc-optional>Legende</p>
  <p class="source" doc-editable="source" doc-optional>Quelle</p>
</div>
