@mixin debug-image {
  @if $debug {
    background-image: image-url('mountains.jpg');      
  }
}

@mixin image-container {
  .image-container {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: inherit;
  
    @include debug-image;
  }
}
