<script type="ld-conf">
{
  "name": "Header"
}
</script>

<header class="group">
  <hgroup>
    <time class="onlyforprint" datetime="2014-04-24 17:14:00">Donnerstag, 24. April 2014, 17:14</time>
    <h2 class="catchline" doc-editable="catchline">Schlagzeile</h2>
    <h1 class="articletitle" doc-editable="title">Titel</h1>
    <h6>
      <time class="datetimenew" datetime="2014-04-24 17:14:00">
        <span class="author" doc-editable="author">You</span>
      </time>
    </h6>
  </hgroup>
</header>
