<script type="ld-conf">
{
  "name": "Large Image",
  "styles": [
    {
      "name": "Fixed Background",
      "type": "option",
      "value": "peephole"
    }
  ]
}
</script>

<figure class="hero">
  <div class="container image-container" doc-image="image">
    <div class="base-layout middle-text full-height">
      <figcaption class="inverted centered">
        <h1 doc-editable="title">
          Studio Ghibli
        </h1>
        <h2 doc-editable="subtitle">
          A world of magical imagination in service of realsim
        </h2>
        <p doc-editable="text">
          From Wikipedia, the funky free encyclopdia
        </p>
      </figcaption>
    </div>
  </div>
</figure>