<script type='ld-conf'>
{
  "title": "Map"
}
</script>

<div data-template>
  <h3 doc-editable="title" doc-optional>Title</h3>
  <div data-is="leaflet-map" data-dependency="L" data-dependency-resources="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js;http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css;https://s3.amazonaws.com/datablog-assets/leaflet.awesome-markers.js;https://s3.amazonaws.com/datablog-assets/leaflet.awesome-markers.css;https://s3.amazonaws.com/datablog-assets/l.control.geosearch.js;https://s3.amazonaws.com/datablog-assets/l.geosearch.provider.openstreetmap.js;https://s3.amazonaws.com/datablog-assets/l.geosearch.css">
    <iframe style="width: 100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?hl=de&amp;ie=UTF8&amp;ll=46.362093,9.036255&amp;spn=8.279854,10.612793&amp;t=h&amp;z=7&amp;output=embed"></iframe>
  </div>
</div>