<div id='footer'>
  <h1 data-upfront-field='title'>Footer Title</h1>
  <ul class="sitemap">
    <li>
      <a href="" class="sitemap-level1">NavPoint</a>
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a>
    </li>
    <li>
      <a href="" class="sitemap-level1">NavPoint</a>
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
    </li>
    <li>
      <a href="" class="sitemap-level1">NavPoint</a>
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
      <a href="">Link</a> |
    </li>
    
  </ul>
</div>
