<div id='topnavigation' class='navigation'>
  <ul id='topnavbar'>
    <li>
      <a href='#' data-upfront-field='link'>
        First Topnav
      </a>
    </li>
    <li>
      <a href='#' data-upfront-field='link'>
        Topnav
      </a>
    </li>
    <li>
      <a href='#' data-upfront-field='link'>
        Topnav
      </a>
    </li>
    <li>
      <a href='#' data-upfront-field='link'>
        Topnav
      </a>
    </li>
    <li>
      <a href='#' data-upfront-field='link'>
        Topnav
      </a>
    </li>
    <li>
      <a href='#' data-upfront-field='link'>
        Topnav
      </a>
    </li>
    <li>
      <a href='#' data-upfront-field='link'>
        Topnav
      </a>
    </li>
    <li>
      <a href='#' data-upfront-field='link'>
        Topnav
      </a>
    </li>
    <li>
      <a href='#' data-upfront-field='link'>
        Topnav
      </a>
    </li>
    <li>
      <a href='#' data-upfront-field='link'>
        Topnav
      </a>
    </li>
  </ul>
</div>
