<script type="ld-conf">
{
  "name": "Full-Size"
}
</script>

<figure class="full-size">
  <div class="container image-container" doc-image="image">
    <div class="base-layout middle-text full-height">
      <figcaption class="inverted centered">
        <h2 doc-editable="title">
          A world of magical imagination in service of realism
        </h2>
        <h4 doc-editable="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </h4>
      </figcaption>
    </div>
  </div>
</figure>