<script type="ld-conf">
{
  "name": "Ereignis"
}
</script>

<div class="timeline">
  <div class="timeline-period">
    <div class="timeline-event">
      <div class="timeline-event-header">                                    
        <i class="timeline-event-header-dot"></i>                                    
        <span doc-editable="date">Datum</span>                                    
        <i class="timeline-event-header-button"></i>                                
      </div>
      <div class="timelime-event-body group">
        <div class="timelime-event-body-img">                                                                                    
          <img doc-image="image" />
        </div>
        <h3 doc-editable="title">Titel</h3>
        <span doc-editable="text">Beschreibung</span>
      </div>
    </div>
  </div>
</div>
