



/* basic site definitions */
/* ====================== */
body {
	font-family:'Gudea', helvetica, arial, sans-serif;
	background-color:#ffffff;
	color:#222222;
	font-size:10px; /* set em-size for whole page. 1em = 10px */
}

a {
	text-decoration:none;
	color:#009ccc;
	cursor:pointer;
}

a:hover {
	color:#007da4;
}

strong {
	font-weight:bold;
}

/* wrappers */
/* ======== */
.wrapper {
	width:1140px;
	margin:0 auto;
	overflow:hidden;
	top:-2px;
}

/* fat_wrapper is necessary only on front layouts */
.fat_wrapper {
	width:100.4%;
	position:relative;
	top:-2px;
}


/* form elements */
/* ============= */
input, a.button, textarea {
	font-family:'Gudea', helvetica, arial, sans-serif;
	font-size:1em;
	border:0;
	padding:0.2em 0.4em;
	margin: 0 0.2em 0.2em 0;
	-webkit-border-radius:0.2em;
	border-radius:0.2em; 
	-webkit-appearance: none;
	appearance: none;
	resize:none;
}

input.darkback, a.button.darkback {
	background-color:rgba(0,0,0,0.5);
}

input.lightback, a.button.lightback {
	background-color:rgba(255,255,255,0.5);
}

input.darkfont, a.button.darkfont {
	color:#222222;
}

input.lightfont, a.button.lightfont {
	color:#ffffff;
}

input.error {
	background-color:#f40f97;
}

input.button,
a.button {
	background-color:#009ccc;
	color:#ffffff;
	cursor:pointer;
}

input.button:hover,
a.button:hover {
	background-color:#0fb4f4;
}

input.radio, input.checkbox {
	width:1em;
	height:1em;
	background-color:#ffffff;
	vertical-align:middle;
}	

input.radio:checked, input.checkbox:checked {
	background-image:url(../media/img/main/icons/icon_checkbox.png);
	background-size: 0.75em;
	background-position: center center;
	background-repeat: no-repeat;
}


/* general handyness */
/* ================= */
.stretch_to_fit {
	width:100%;
	height:100%;
}

/* custom hide and display */
/* ======================= */
.hide_on_desktop { display:none !important; }
.show_on_desktop { display:block !important; }

/* custom hyphenation */
/* ================== */
.dont_hyphenate {
	-moz-hyphens: manual !important;
	-webkit-hyphens: manual !important;
	-ms-hyphens: manual !important;
	-o-hyphens: manual !important;
}

/* member icons */
/* ============ */
.member_icon {
	position:relative;
	margin:0;
	display:inline-block;
	float:left;
}

.member_icon .badge {
	width:33.333%;
	position:absolute;
	right:0;
	bottom:0;
	z-index:3;
}

.member_icon img.portrait {
	-webkit-border-radius:50%;
	border-radius:50%; 
	width:100%;
	-webkit-transition: -webkit-border-radius 0.5s ease;
	transition: border-radius 0.5s ease;
}

.member_icon img.portrait:hover {
	-webkit-border-radius:30%;
	border-radius:30%;
}


/* commercial */
/* ======================= */
.commercial {
	width: 100%;
	padding: 5px 0px;
	text-align: center;
	background-color: #EEE;
}





/* tablet */
/* ====== */
@media screen and (max-width: 1000px) {
	body {
		font-size:9px;
	}
	
	.wrapper {
		width:100%;
	}
	
	.fat_wrapper {
		width:100.8%;
	}
		
	/* custom hide and display */
	.hide_on_tablet { display:none !important; }
	.show_on_tablet { display:block !important; }
}




/* ipad landscape */
/* ============== */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.wrapper {
		width:1024px;
	}
}






/* mobile */
/* ====== */
@media screen and (max-width: 600px) {
	body {
		font-size:7px;
	}
	
	.fat_wrapper {
		width:101.5%;
	}
	
	/* custom hide and display */
	.hide_on_mobile { display:none !important; }
	.show_on_mobile { display:block !important; }
}






/* minwidth */
/* ======== */
@media screen and (max-width: 320px) {
	.wrapper {
		width:320px;
	}
}











