



/* story definitions, only used on story layouts */
/* ============================================= */
.story {
	position:static;
	margin-left:10%;
	width:85%;
}

.story h2.maintitle /*Conflict*/ {
	font-size:8em; /* 30px / 10px */
	font-weight:bold;
	line-height:1em;
	-moz-hyphens: manual;
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	-o-hyphens: manual;
	hyphens: manual;
	margin-bottom:10px;
}

.story h3.uppertitle /*Conflict*/ {
	font-size:1.6em; /* 16px / 10px */
	font-weight:normal;
	text-transform:uppercase;
	width:60%;
	margin-bottom:10px;
}

.story p.date,
.story p.author {
	color:#666666;
	font-size:1.4em /* 14px / 10px */
}

.story p.lead {
	font-weight:bold;
	font-style:italic;
	font-size:2.2em;
}

.story p.lead .author {
	text-transform: lowercase;
}

.story p.lead .author .internal {
	border-bottom:2px solid #f9349e;
	height:1.1em;
	float:left;
}

.story h5 {
	font-size:2em; /* 20px / 10px */
	font-weight:normal;
	margin-bottom:10px;
}

.story p {
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	width:60%;
}

.story p, .story ul, .story ol {
	font-size:1.8em /* 18px / 10px */;
	line-height:1.3em;
	margin-bottom:20px;
}

h4, .story p.half_title /*Conflict*/ {
	font-size:2.2em /* 20px / 10px */;
	line-height: 1.3em;
    margin-bottom: 10px;
	font-weight:bold;
}

.story ol {
	list-style-type:decimal;
	margin: 0px 0 20px 35px;
}

.story ol li {
	margin:0;
	padding: 0 0 10px 15px; 
}









/* inserts */
/* ======= */
/* default insert (hanging to the right) */
/* reset insert values */
.story .insert {
	margin:0 0 20px 2%;
	padding:0;
	width:56%;
	float:right;
	font-size:inherit;
	line-height:auto;
}

/* reset insert values */
.story .insert p,
.story .insert h2,
.story .insert h3,
.story .insert h4,
.story .insert ul,
.story .insert ol {
	width:auto;
	padding:0;
	margin:0 0 4px 0;
}

.story .insert h4.inserttitle {
	font-size: 1.8em;
	color: #888;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 5px;
}

/* fat full width */
.story .insert.fat_full {
	position:relative;
	width:118%;
	left:6%;
	margin:0px 0% 20px 0%;
}

.story .insert.fat_full p.caption {
	background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    color: #222222;
    margin: 0;
    max-width: 58%;
    padding: 10px 15px;
    position: absolute;
    width: auto;
}
/* full width */
.story .insert.full {
	width:100%;
	margin:0px 0 20px 0;
}

/* fifty fifty */
.story .insert.fifty_fifty {
	width:49.5%;
	margin:0 0.25% 10px 0.25%;
	float:left;
}

/* right side only */
.story .insert.side {
	width:37%;
	margin:0 0 10px 2%;
}

/* left side only */
.story .insert.maincol {
	width:60%;
	margin:0 0 10px 0;
	float:none;
}

.story .insert.maincol.block {
	display:inline-block;
}

.story .insert.maincol.shift {
	padding-left:10%;
}

.story .insert.commercial {
	text-align:center;
	background-color:#eeeeee;
}

.story .insert.commercial img {
	width:90%;
	margin:1.5em 0;
}








/* tablet */
/* ====== */
@media screen and (max-width: 1000px) {
	.story {
		margin-left:15px;
		margin-right:15px;
		width:auto;
	}
	
	.story p,
	.story h3,
	.story .insert.maincol {
		width:80%;
	}
	
	.story .insert.fat_full {
		width:104% !important;
		left:2% !important;
	}
}







/* mobile */
/* ====== */
@media screen and (max-width: 600px) {
	
	.story h2, .story h3, .story h4, .story p {letter-spacing:0 !important;}
	.story h2 { font-size:3.5714em !important; } /* 25px / 7px */
	.story p, .story p.lead, .story ul, .story ol { font-size:2.2857em !important; } /* 16px / 7px */
	.story h3, .story p.label, .story p.date { font-size:1.7142em !important; } /* 12px / 7px */
	.story h4, .story p.lead, .story p.half_title { font-size:2.571em !important; } /* 18px / 7px */
	
	.story p,
	.story h2,
	.story h3,
	.story h4,
	.story .insert {
		width:auto !important;
		clear:both !important;
		float:none !important;
		display:block !important;
	}
	
	.story .insert {
		margin:0 0 10px 0px !important;
	}
	
	.story .insert.hide_on_mobile {
		display:none !important;
	}
	
	.story .insert.fat_full {
		width:111% !important;
		left:-5.5% !important;
	}
	
	.story .insert.fat_full .caption,
	.story .insert.fat_full .source {
		padding-left:5.5%;
	}
	
	.story .insert.commercial {
		width:100%;
		margin:0 0 10px 0 !important;
	}
}


