



/* collapsa */
/* ======== */
/* IN WIDGETS CSS REIN!!!! ODER EIGENES CSS!!!!! */
.widget.ticker .collapsa {
	font-size:1.8em;
	font-weight:bold;
	text-align:center;
	background-color:#cccccc;
	height:4px;
	overflow:visible;
	line-height:0.2em;
	margin-top:1em;
	margin-bottom:1em;
	cursor:pointer;
}

.widget.ticker .collapsa span {
	background-color:#ffffff;
	padding:0 4px;
}








/* headerbox */
/* ========= */
.widget.ticker.headerbox h3 {
	font-size:4em;
	text-align:center;
	font-weight:bold;
}

.widget.ticker.headerbox h3 img {
	width:10%;
}



/* last highlight */
/* ============== */
.widget.ticker.last_highlight p.name {
	background-color:#f40f97;
	color:#ffffff;
	padding:0 0.2em;
	display:inline;	
}



/* tools */
/* ===== */
.widget.ticker.tools li {
	display:inline-block;
	width:49%;
}


/* author */
/* ====== */
.widget.ticker.author img.portrait {
	width:40%;
	float:left;
	margin:0 10px 10px 0;
} 
















