


/* collapsa */
/* ======== */
.widget.ticker .collapsa {
	font-size:1.8em;
	font-weight:bold;
	text-align:center;
	background-color:#009ccc;
	height:4px;
	overflow:visible;
	line-height:0.2em;
	margin-top:1em;
	margin-bottom:1em;
	cursor:pointer;
	clear:both;
}

.widget.ticker .collapsa:hover { background-color:#007da4; }
.widget.ticker .collapsa.inactive { cursor:default; background-color:#cccccc; }
.widget.ticker .collapsa.inactive:hover { background-color:#cccccc; }

.widget.ticker .collapsa span.title {
	background-color:#ffffff;
	padding:0 4px;
	position:relative;
}

.widget.ticker .collapsa span.icon {
	background-image:url("../media/img/main/arrows/arrow_top_down_dark.png");
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center center;
	height:1em;
	width:1em;
	display:none;
	position:absolute;
	top:0.15em;
	right:-1em;
}

.widget.ticker .collapsa.expanded span.icon {
	background-image:url("../media/img/main/arrows/arrow_top_down_inv_dark.png");
}

.widget.ticker .collapsa:hover span.icon { display:block; }
.widget.ticker .collapsa.inactive:hover span.icon { display:none; }




/* headerbox */
/* ========= */
.widget.ticker .headerbox {
	margin-bottom:2em;
}

.widget.ticker .headerbox h3 {
	font-size:4em;
	text-align:center;
	font-weight:bold;
}

.widget.ticker .headerbox h3 img.type {
	height:1.5em;
}







/* last highlight */
/* ============== */
.widget.ticker .last_highlight p.name {
	background-color:#f40f97;
	color:#ffffff;
	padding:0 0.2em;
	display:inline !important;	
}




/* main_result */
/* =========== */
.widget.ticker .main_result {
	position:relative;
}

.widget.ticker .main_result .score {
	font-size:16em; /* 160px / 10px */
	text-align:center;
	font-weight:bold;
	position:absolute;
	top:0;
	width:100%;
	text-align:center;
}

.widget.ticker .main_result .team {
	width:40%;
	display:inline-block;
	vertical-align:top;
	position:relative;
}

.widget.ticker .main_result .team.guest {
	margin-left:19%;
}

.widget.ticker .main_result .team .fans {
	font-size:1.4em; /* 14px / 10px */
	line-height:0.9em;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	width:5em; /* 70px / 14px */
	height:5em; /* 70px / 14px */
	background-image:url("../media/img/main/icons/icon_love_dark.png");
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center center;
	margin:0 1.428em; /* 20px / 14px */
	display:block;
}

.widget.ticker .main_result .team .fans:hover,
.widget.ticker .main_result .team .fans.your_vote {
	background-image:url("../media/img/main/icons/icon_love_magenta.png");
}

.widget.ticker .main_result .team .fans .number {
	padding-top:1.5em; /* 21px / 14px */
	display:block;
}

.widget.ticker .main_result .team .pic {
	width:11em; /* 110px / 10px */
	height:11em; /* 110px / 10px */
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
}

.widget.ticker .main_result .team.guest .fans,
.widget.ticker .main_result .team.guest .pic {
	margin-left:auto;
}

.widget.ticker .main_result .team .name {
	font-size:4em; /* 40px / 10px */
	font-weight:bold;
	margin-top:0.5em; /* 20px / 40px */
	margin-bottom:0.5em; /* 20px / 40px */
}

.widget.ticker .main_result .team .events .icon {
	height:1em; /* 18px / 18px */
	margin-right:0.5em;
}

.widget.ticker .main_result .team .events .time {
	display:inline-block;
	min-width:1.5em; /* 27px / 18px */
}

.widget.ticker .main_result .events li:nth-child(n+4) { display:none; }
.widget.ticker .main_result.expanded .events li:nth-child(n+4) { display:block; }

.widget.ticker .main_result .expand,
.widget.ticker .main_result .collapse {
	font-size:1.8em; /* 18px / 10px */
	padding:1em 0;
	text-align:center;
	display:block;
}

.widget.ticker .main_result.expanded .expand { display:none; }
.widget.ticker .main_result .collapse { display:none; }
.widget.ticker .main_result.expanded .collapse { display:block; }




/* teams */
/* ===== */
.widget.ticker .teams {
	margin-bottom:3em;	
}

.widget.ticker .teams .colltent {
	display:none;
}

.widget.ticker .teams ul {
	display:inline-block;
	vertical-align:top;
	width:36%;
	margin-left:13%;
}

.widget.ticker .teams ul li.title {
	font-weight:bold;
}

.widget.ticker .teams ul li.divider {
	padding-bottom:1em;
}

.widget.ticker .teams ul li {
	position:relative;
}

.widget.ticker .teams ul li .icon {
	height:1em; /* 18px / 18px */
	position:absolute;
	left:-1.2em;
	top:0.1em;
	vertical-align:middle;
}

.widget.ticker .teams ul li .icon:nth-child(2) { left:-2.2em; }
.widget.ticker .teams ul li .icon:nth-child(3) { left:-3.2em; }
.widget.ticker .teams ul li .icon:nth-child(n+4) { display:none; }


/* tools */
/* ===== */
.widget.ticker .tools {
	margin-bottom:2em;
}

.widget.ticker .tools li {
	display:inline-block;
	width:24%;
}

.widget.ticker .tools li a.order .arrow {
	vertical-align:middle;
	display:inline-block;
	width:1em;
	height:1em;
	background-image:url("../media/img/main/arrows/arrow_down_grey.png");
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center center;
}

.widget.ticker .tools li a.order:hover .arrow {
	background-image:url("../media/img/main/arrows/arrow_down_dark.png");
}

.widget.ticker .tools li a.order.up .arrow {
	background-image:url("../media/img/main/arrows/arrow_up_grey.png");
}

.widget.ticker .tools li a.order.up:hover .arrow {
	background-image:url("../media/img/main/arrows/arrow_up_dark.png");
}


/* author */
/* ====== */
.widget.ticker .author .member_icon {
	width:40%;
	margin:0 10px 2em 0;
}

.widget.ticker .author p.vita {
	margin-bottom:2em;
}

.widget.ticker .author ul.heroes li {
	clear:both;
}

.widget.ticker .author ul.heroes .member_icon {
	width:19%;
	margin-bottom:0.5em;
} 





/* tablet */
/* ====== */
@media screen and (max-width: 1000px) {
	
	.widget.ticker .collapsa span.icon {
		display:block;
	}
	
	.widget.ticker .insert {
		width:100% !important;
	}
	
	/* main_result */
	/* =========== */
	.widget.ticker .main_result .team .fans:hover {
		background-image:url("../media/img/main/icons/icon_love_dark.png");
	}
	
	/* last highlight */
	/* ============== */
	.widget.ticker .last_highlight {
		display:none;	
	}
	
	/* author */
	/* ====== */
	.widget.ticker .author .member_icon {
		width:18%;
	} 
	
	.widget.ticker .author ul.heroes li {
		width:49%;
		display:inline-block;
	}
}






/* mobile */
/* ====== */
@media screen and (max-width: 600px) {

	.widget.ticker .collapsa {
		font-size:2.2857em !important; /* 16px / 7px */
	}
	
	/* headerbox */
	/* ========= */
	.widget.ticker .headerbox h3 {
		font-size:3em !important;
	}
	
	/* main_result */
	/* =========== */
	.widget.ticker .main_result .score {
		font-size:7em;
		margin-top:1em;
	}
	
	.widget.ticker .main_result .team .name {
		font-size:2.5em;
	}
	
	.widget.ticker .main_result .team .events li {
		font-size:0.8em;
		line-height:1.2em;
	}
	
	.widget.ticker .main_result .team .events .icon {
		display:none;
	}
	
	.widget.ticker .main_result .expand,
	.widget.ticker .main_result .collapse {
		font-size:2.2857em !important; /* 16px / 7px */
	}
	
	/* teams */
	/* ===== */
	.widget.ticker .teams ul {
		width:33%;
		margin-left:16%;	
	}
	
	.widget.ticker .teams li {
		font-size:0.8em;
		line-height:1.2em;
	}
	
	/* tools */
	/* ===== */
	.widget.ticker .tools li {
		width:49%;
	}
	
	/* author */
	/* ====== */
	.widget.ticker .author .member_icon {
		width:30%;
	} 
	
	.widget.ticker .author p.vita {
		clear:right !important;
		width:60% !important;
		display:block !important;
		float:left !important;
		margin-bottom:1em;
	}
	
	.widget.ticker .author ul.heroes li {
		width:auto;
	}
}

























