
.insert .widget {
	width:100%;	
	position:relative;
}

/* widgets inside regions need to be scaled 100% in height */
.region .widget {
	height:100%;
	width:100%;	
	position:relative;
}

/* interview */
/* ========= */
p.statement {
	border-left:0.2em solid #bababa;
	padding-left:0.5em !important;
}

p.statement.pro { border-left:0.2em solid #adf038; }
p.statement.contra { border-left:0.2em solid #f936a7; }
p.statement.neutral { border-left:0.2em solid #00c2f7; }


/* quotes */
/* ====== */
.widget.quote h6 {
	font-family:'Lustria', 'Times New Roman',Times,serif;
	font-size:3.6em /* 36px / 10px */;
	line-height:1.3em;
	font-style: italic;
	color:#009ccc;
}


/* badge list */
/* ========== */
.widget.badges {
	color:#666666;	
	font-size:1.333em; /* 24px / 18px */
	margin-top:0.4166em; /* 10px / 24px */
}

.widget.badges ul {
	margin:4px 0.5em 0 0; /* 12px / 24px */
	display:inline-block;
}

.widget.badges ul.negative {
	margin-top:0;
}

.widget.badges li {
	font-size:0.64em; /* 15.36px / 24px */
	display:inline-block;
	margin-right:0.75em; /* 12px / 16px */
	margin-bottom:0.75em; /* 12px / 16px */
	padding:0;
}

.widget.badges li:last-child {
	margin-right:0;
}

.widget.badges li a span.name,
.widget.badges li a span.number {
	display:inline-block;
	padding:0.625em 0; /* 10px / 16px */
	font-weight:bold;
	line-height:1em; /* 16px / 16px */
	text-transform:uppercase;
	text-align:center;
}

.widget.badges li a span.name {
	color:#ffffff;
	background-color:#156376;
	width:3.75em; /* 70px / 16px */
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	transition:color 0.5s ease;
}

.widget.badges .negative li a span.name {
	background-color:#222222;
}

.widget.badges li a span.name:hover {
	color:#27bbf5;
}

.widget.badges li a span.number {
	color:#222222;
	background-color:#bababa;
	width:2em; /* 32px / 16px */
	margin-left:0.75em; /* 12px / 16px */
	position:relative;
}

.widget.badges li a span.arrow {
	width:0; 
	height:0; /* 14px / 14px */
	display:block;
	position:absolute;
	right:2em;
	border-right:0.714em solid #bababa; /* 10px / 14px */
	border-top:0.5em solid transparent; /* 7px / 14px */
	border-bottom:0.5em solid transparent; /* 7px / 14px */
}

.widget.badges li.top a span.number {
	color:#ffffff;
	background-color:#27bbf5;
}

.widget.badges li.top a span.arrow {
	border-right:0.714em solid #27bbf5; /* 10px / 14px */
}






/* tag list */
/* ======== */
.widget.tags {
	font-size:1.333em; /* 24px / 18px */
	color:#666666;	
	margin-top:2.083em; /* 50px / 24px */
}

.widget.tags ul {
	margin:4px 0 0 0;
}

.widget.tags li {
	display:inline-block;
	padding:0;
}

.widget.tags li a {
	font-size:0.64em; /* 15.36px / 24px */
	display:inline-block;
	color:#00c6ff;
	background-color:#222222;
	margin-right:0.75em; /* 12px / 16px */
	margin-bottom:0.75em; /* 12px / 16px */
	padding:0.625em; /* 10px / 16px */
	font-weight:bold;
	line-height:1em; /* 16px / 16px */
	text-transform:uppercase;
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	transition:color 0.5s ease;
}

.widget.tags li.ressort a {
	color:#a0f22c;
}

.widget.tags li a:hover {
	color:#ffffff;
}


/* videos */
/* ====== */
.widget.video {
	width:100%;
	height:0;
	padding-bottom:56.25%; /* 100% / 16 * 9 */
	overflow:hidden;
	cursor:pointer;
	position:relative;
}

.widget.video:hover {
	opacity:0.95;
}

.widget.video img {
	width:100%;	
}

.widget.video img.arrow {
	position:absolute;
	bottom:0;
	left:0;
	margin-bottom:4%;
	margin-left:4%;
	width:10%;
	height:auto;
}

.widget.video iframe {
	position:absolute;
	width:100%;
	height:100%;
}



/* maps */
/* ==== */
.widget.map {
	width:100%;
	height:0;
	padding-bottom:100%;
	overflow:hidden;
	position:relative;
	border:1px solid #aaaaaa;
}

.widget.map iframe {
	position:absolute;
	width:100%;
	height:100%;
}

.insert.cinemascope .widget.map,
.insert.full .widget.map,
.insert.jumbo .widget.map {
	padding-bottom:50%;
}




/* infobox */
/* ======= */
.widget.infobox {
	padding:10px 10px;
	width:auto;
}

.widget.infobox img {
	margin: 0 0 20px 0;
	width:100%;
}

.widget.infobox h5 {
	font-size:2em; /* 20px / 10px */
	font-weight:bold;
	margin-bottom:10px;
}



/* twitterbox */
/* ========== */
.twitter-tweet {
	width:100%;
}




/* sportstable */
/* =========== */
.widget.sportstable {
	width:100%;
}

.widget.sportstable td, .sportstable th {
	padding:0.333em; /* 18px / 3 => 6px */
	border-bottom:1px solid #aaaaaa;
	text-align:left;
	font-size:1.8em; /* 18px / 10px */
}

.widget.sportstable tr.color_line_1 td { border-bottom:2px solid #84e100; }
.widget.sportstable tr.color_line_2 td { border-bottom:2px solid #84e100; }
.widget.sportstable tr.color_line_3 td { border-bottom:2px solid #ce0f89; }






/* polls */
/* ===== */
.widget.poll {
	min-height:20em; /* 200px / 20px */
	padding-bottom:0.1em;
}

.widget.poll h2,
.widget.poll p,
.widget.poll li,
.widget.poll h3 {
	padding:0 15px 10px 15px;
	margin:0;
}

.widget.poll .text {
	width:100%;
	position:absolute;
	bottom:0;
	padding-top:10px;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

.story .widget.poll .text {
	position:static;
}

.widget.poll h3 {
	font-size:1.6em; /* 16px / 10px */
	font-weight:normal;
	text-transform:uppercase;
}

.widget.poll p, .widget.poll ul {
	font-size:1.8em /* 18px / 10px */;
	line-height:1.3em;
}

.widget.poll .answers ul {
	border-top:dotted 2px;
	padding-top:10px;
}

.widget.poll .answers li {
	text-indent:-1.5em; /* 18px / 18px */
	margin-left:1.5em; /* 18px / 18px */
}

.widget.poll li input {
	margin-right:0.5em; /* 9px / 18px */
}

.widget.poll li a.button {
	left:1.5em; /* 18px / 18px */
	position:relative;
}

.widget.poll li a.button:hover {
	opacity:0.9;
}

.widget.poll div.result {
	display:none;
}

.widget.poll div.result li {
	clear:both;
	border-top:2px dotted;
	padding-top:10px;
}

.widget.poll div.result .bubble {
	display:inline-block;
	float:left;
	width:0;
	height:0;
	line-height:0;
	overflow:hidden;
	margin-right:10px;
	margin-bottom:10px;
	text-align:center;
	-webkit-border-radius:50%;
	border-radius:50%;
}

.widget.poll div.result .bubble:hover {
	-webkit-border-radius:50% 33% 50% 33%;
	border-radius:50% 33% 50% 33%;
	-webkit-transition: -webkit-border-radius 0.5s ease;
	transition: border-radius 0.5s ease;
}

.widget.poll div.result .answertext {
	display:none;
	float:left;
}






/* flipper */
/* ======= */
.widget.flipper {
	cursor:pointer;
}

.widget.flipper .teaser {
	width:100%;
	height:100%;
	overflow:hidden;
}

.widget.flipper .frontface {
	position:absolute;
	top:0;
	left:0;
	backface-visibility: hidden;
	transform: rotateY(0deg);
	transition: transform 0.5s ease-in-out 0s;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
	-moz-backface-visibility: hidden;
	-moz-transform: rotateY(0deg);
	-moz-transition: -moz-transform 0.5s ease-in-out 0s;
	z-index: 1;
}

.widget.flipper .backface {
	position:absolute;
	top:0;
	left:0;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
	transition: transform 0.5s ease-in-out 0s;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotateY(-180deg);
	-webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
	-moz-backface-visibility: hidden;
	-moz-transform: rotateY(-180deg);
	-moz-transition: -moz-transform 0.5s ease-in-out 0s;
	z-index: 0;
	
	display /*\**/: none\9 /* IE 8 HACK */
}

.widget.flipper.showback .frontface {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	
	display /*\**/: none\9 /* IE 8 HACK */
}

.widget.flipper.showback .backface {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	
	display /*\**/: block\9 /* IE 8 HACK */
}

			
			
			

/* peephole & panorama */
/* =================== */
.widget.peephole {
	height:0;
	padding-top:56.25%; 
	position:relative;
	background-attachment:fixed;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	display:block; /* just in case our peephole is an <a> */
}

.insert.commercial .widget.peephole {
	padding-top:33%;
}

.widget.panorama {
	height:40em;
	position:relative;
	overflow:hidden;
}

.widget.panorama img {
	height:100%;
	width:auto;
	position:absolute;
	left:0;
	top:0;
}

.widget.panorama p,
.widget.peephole p {
	margin:0;
	padding:0;
	position:absolute;
	bottom:0;
	left:0;
	width:96%;
	padding:2%;
	font-family:'Lustria', 'Times New Roman',Times,serif;
	font-size:3.6em /* 36px / 10px */;
	text-align:center;
	line-height:1em;
	font-style: italic;
}

.widget.panorama p .combo_bg,
.widget.peephole p .combo_bg {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	opacity:0.4;
}

.widget.panorama p .combo_fg,
.widget.peephole p .combo_fg {
	position:relative;
}


/* magazine cover */
/* =================== */
.widget.cover {
	height:0;
	padding-top:60%; 
	position:relative;
	background-attachment:fixed;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}

.widget.cover .covertitle{
	position: absolute;
	right: 2%;
	bottom:8%;
	width: 40%;
	color: #FFF;
}

/* article list */
/* ============ */
.widget.article_list {
	position:absolute;
	bottom:0;
	width:100%;
}

.widget.article_list li {
	border-top:2px dotted;
	padding:10px;
}

.widget.article_list li h3 {
	font-size:0.8em;
	float:left;
}

.widget.article_list li h2 {
	font-size:1em;
	clear:both;
}

.widget.article_list li .date {
	font-size:0.8em;
	float:right;
}

.widget.article_list li h3,
.widget.article_list li h2,
.widget.article_list li h3 a,
.widget.article_list li h2 a {
	padding:0;
}

/* image */
/* ======== */
.widget.image img {
	width: 100%;
}

/* imagebar */
/* ======== */
.widget.imagebar {
	width:100%;
}

.widget.imagebar .imagebox {
	width: 32.83333%;
	margin-right: 0.5%;
	float: left;
}

.widget.imagebar img {
	width: 100%;
	margin: 0;
}

.widget.image p.caption {
	position:absolute;
	bottom:0;
	background-color:#eeeeee;
	background-color:rgba(255,255,255,0.8);
	color:#222222;
	padding:10px 15px;
	max-width:58%; /* 60% - 2% */
	width:auto;
	margin:0;
}

/* imagebar 2 spalten */
/* ======== */
.widget.imagebar.twopics .imagebox {
	float: left;
	width: 49.5%;
	margin-right: 0.5%;
}

/* nur zum test */
/* ============ */
.widget.social_box img {
	width:100%;
}







@media screen and (max-width: 1000px) {
		
	/* image */
	/* ===================== */
	.widget.image p.caption {
		max-width:78% !important; /* 80% - 2% */
	}
	
	/* peephole */
	/* ======== */
	.widget.peephole {
		background-attachment:scroll;
		background-size:cover;
	}
	
	.insert.commercial .widget.peephole {
		padding-top:56.25%;
	}

	/* imagebar */
	/* ============ */
	.widget.imagebar .imagebox:last-child {
		width: 33.33333%;
		margin-right: 0%;
		float: left;
	}

	.widget.imagebar img {
		width:100%;
		margin:0 0 2px 0;
	}
	
	/* imagebar 2 spalten */
	/* ======== */
	.widget.imagebar.twopics .imagebox:last-child {
		float: left;
		width: 50%;
		margin-right: 0%;
	}
	
	/* magazine cover */
	/* ======== */
	.widget.cover {
		background-attachment:scroll;
		background-size:cover;
		padding-top: 70%;
	}
	
	.widget.cover .covertitle{
		bottom:6%;
		right: 2%;
		width: 60%;
	}

	.widget.cover .covertitle h2.maintitle {
		font-size: 6em;
	}
}
	





@media screen and (max-width: 600px) {
	
	/* image */
	/* ===== */
	.widget.image { min-height:6em; } /* 42px / 7px */
	
	.widget.image p.caption {
		font-size:1.8em !important;
		max-width:none  !important;
		padding:5px 15px;
	}
	
	/* infobox */
	/* ======= */
	.widget.infobox {
		padding:5px 5px;
	}
	
	/* badge list */
	/* ========== */
	.widget.badges ul {
		margin-right:0;
		display:block;
	}
	
	/* maps */
	/* ==== */
	.widget.map {
		padding-bottom:100% !important;
	}
	
	/* sportstable */
	/* =========== */
	.widget.sportstable { margin:0 0 10px 0; }
	
	/* article list */
	/* ============ */
	.widget.article_list {
		font-size:0.75em !important;
	}
	
	.widget.article_list li .date {
		font-size:1.8em;
	}
	
	.widget.infobox h5 {
		font-size:2.4em;
	}
	
	/* imagebar */
	/* ======== */
	.widget.imagebar .imagebox, .widget.imagebar .imagebox:last-child {
		width: 100%;
	}
	.widget.imagebar img {
		width:100%;
		margin: 0 0 2px 0;
	}
	
	/* imagebar twopics */
	/* ================ */
	.widget.imagebar.twopics .imagebox, .widget.imagebar.twopics .imagebox:last-child {
		width: 100%;
	}

	/* magazine cover */
	/* ============== */
	.widget.cover .covertitle{
		bottom:4%;
	}

	.widget.cover .covertitle h2.maintitle {
		font-size: 4.5em;
	}









