<script type="ld-conf">
{
  "name": "Aside",
  "styles": [
    {
      "name": "Featured",
      "type": "option",
      "value": "bleed"
    }
  ]
}
</script>

<aside class="sidenote right">
  <h4 doc-editable="title">
    Aside with vertical rhythm
  </h4>
  <p doc-editable="text">
    The studio is also known for its strict “0-edits” policy in licensing their films abroad due to Nausicaä of the Valley of Wind being heavily edited for the film’s release in the United States as Warriors of the Wind. The “no cuts” policy was highlighted when Miramax co-chairman Harvey Weinstein suggested editing Princess Mononoke to make it more marketable. A Studio Ghibli producer is rumoured to have sent an authentic Japanese sword with a simple message: “0 cuts”.
  </p>
</aside>