<script type="ld-conf">
{
  "name": "Zitat"
}
</script>

<div class="insert">
  <h4 class="inserttitle" doc-editable="title" doc-optional>Titel</h4>

<div class="widget quote">
	<h6 doc-editable="text">
		«Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat»
	</h6>
</div>


  <p class="caption" doc-editable="legend" doc-optional>Legende</p>
  <p class="source" doc-editable="source" doc-optional>Quelle</p>
</div>
