/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/**
 * Base link styles
 */
.link {
  color: $text;
  text-decoration: none;
  border-bottom: 2px solid tint($text, 60%);

  @include vendor(transition, border-bottom-color 180ms ease-in);

  &:hover {
    border-bottom-color: $text;
  }
}

 /**
  * Link modifiers
  */
.link--livingdocs {
  @extend .link;

  color: $upfront-blue;
  border-bottom-color: $upfront-blue!important;
}