.event {
  @include container();
  @include trailer();
  + .event {
    @include leader(-1);
  }
  clear: both;
  
  $font-size-adjust-to: 0.9rem;
  $timeline-width: 3px;
  $timeline-color: #ddd;
  $time-length: rhythm(1/2);
  // The width of the time dash/mark
  $time-width: $timeline-width;

  main {
    @include adjust-font-size-to($font-size-adjust-to);
    padding-top: (1rem - $font-size-adjust-to);  
    
    
    @include span(3 at 3);
    @include breakpoint($medium-screen) {
      @include span(4 at 2);      
    }
    @include apply-side-rhythm-border(left, $timeline-width);
    border-color: $timeline-color;
    
    p {
      @include squish(0);
      @include rhythm($leader: 0, $trailer: 0);
      text-indent: rhythm(1);
      
      &:first-child {
        text-indent: 0;
      }
      &:last-child {
        @include trailer(1);
      }
    }
    
    position: relative;
    // Define the tick or dash of the timeline
    &:before {
      border-top: $time-width solid $timeline-color;
      width: $time-length;
      display: block;
      content: '';
      position: absolute;
      left: - $time-length;
      top: rhythm($offset: $time-width) / 2;
    }
  }
  
  aside.time {
    @include span(2);
    @include breakpoint($medium-screen) {
      @include span(1);
    }
    display: block;
    text-align: right;
    font-family: $font-sans-serif;
    color: lighten($font-color, 40%);      
    
    time {
      font-weight: 900;
      @include adjust-font-size-to(1.2rem, 1);
      display: block;
    }

    p {
      @include squish(0);
      @include rhythm(0);
      @include adjust-font-size-to($font-size-adjust-to);
    }
  }
  
  &.bullets {
    $bullet-color: #559ec1;
    $bullet-size: 9px;
    $bullet-border-width: 4px;
    $timeline-width: 3px;
    
    $bullet-color-light: lighten($bullet-color, 20%);
    $bullet-radius: $bullet-size / 2  + $bullet-border-width;
    
    main {
      border-color: $bullet-color-light;
      font-family: $font-sans-serif;
      @include apply-side-rhythm-border(left, $timeline-width);
      
      &:before {
        border: $bullet-border-width solid $bullet-color-light;
        background-color: $bullet-color;
        border-radius: $bullet-radius;
        width: $bullet-size;
        height: $bullet-size;
        left: - $bullet-radius - $timeline-width / 2;
        top: rhythm($offset: $bullet-radius * 2) / 2;
      }      
      
    }
    aside.time {
      time {
        color: $bullet-color;
      }
      p {
        color: $bullet-color-light;
      }
    }
  }
}