blockquote {
  color: lighten($font-color, 20%);
  position: relative;
  
  @include breakpoint($large-screen) {
    @include span(3);      
  }

  &.large {
    @include span(6);
  }
  
  .quotation-mark {
    font-size: rhythm(4);
    float: left;
    position: relative;
    top: rhythm(0.9);
    left: -0.1ch;
    padding-right: 0.1ch;
  }

  p {
    @include squish(0);
    @include adjust-font-size-to(1.5rem, 5/4);
    font-style: italic;
  }
  
  footer {
    position: relative;
    padding-left: 2ch;

    &:after {
      content: '\2014';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  
  @include rhythm(2);
}
