aside.sidenote {
  @include adjust-font-size-to(0.8rem);
  font-family: $font-sans-serif;
  
  p, h4 {
    @include adjust-font-size-to(0.8rem);
    @include squish(0);
    @include rhythm(0);
  }
  
  &.right {
    @include breakpoint($large-screen) {
      @include span(2 at 5);
    }
    @include breakpoint($medium-screen-only) {
      @include span(3 at 4);
    }
    @include breakpoint($medium-screen) {
      margin-left: 2 * gutter();
      @include leader(0);
    }
    @include rhythm(2);
  }
  
  &.bleed {
    @include bleed(rhythm(1/2));
    @include leader(3/2);
    @include trailer(3/2);
    
    @include breakpoint($medium-screen) {
      margin-left: gutter();
      @include leader(-1/2);
    }
    background: $upfront-color;
    color: white;
  }
  
  &.roof {
    &:before {
      width: 30%;
      display: block;
      content: "";
      height: 3px;
      background: $light-black-color;
      margin-top: -3px;
    }
  }
  
  &.tight {
    p {
      line-height: 0.9 * $base-line-height;
      margin-top: 0.1 * $base-line-height;
    }
  }
}