// Set heading sizes
$heading-factors: 5 2.5 1.5 1.2 1 1;

@for $i from 1 through 4 {
  $big: nth($heading-factors, $i);
  $medium: nth($heading-factors, $i+1);
  $small: nth($heading-factors, $i+2);

  h#{$i} {
    @include breakpoint($large-screen) {
      @include adjust-font-size-to($big * $base-font-size);
    }
    @include breakpoint($medium-screen-only) {
      @include adjust-font-size-to($medium * $base-font-size);      
    }
    @include adjust-font-size-to($small * $base-font-size);      
    font-family: $font-sans-serif;
  }
}  


body {
  font-family: $font-serif;
  color: $font-color;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  
  ::selection {
    color: white;
    background: $upfront-color;
  }
}

a {
  color: $upfront-color;
  text-decoration: none;
}

h1 {
  @include leader(2);
}
p, h2, h3, h4, ul {
  @include breakpoint($large-screen) {
    // Squish doc: http://susydocs.oddbird.net/en/latest/toolkit/#squish
    @include squish(1);    
  }
  @include rhythm(1);
  
  &:first-child {
    @include leader(0);
  }  
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  
  @include adjust-font-size-to(0.8rem);
  @include breakpoint($medium-screen-only) {
    @include adjust-font-size-to(0.9rem);
    @include squish(0, 1);
  }
  @include breakpoint($large-screen) {
    @include adjust-font-size-to(1rem);
  }
  
  &.drop-cap {
    &:first-letter {
      @include adjust-font-size-to(rhythm(3));
      line-height: rhythm(3);
      float: left;
    };
  }
  
}