body {
  @extend .layout;
  
  background-color: white;
  overflow-x: hidden; /* Hide horizontal scrollbar caused by 100vw elements */

  .base-layout {
    @extend .layout;
//    min-width: 50%;
  }

}
.layout {
  @include container(6/4 * $text-width);
  padding: 0 rhythm(1/2);  
}

