<script type="ld-conf">
{
  "name": "Datan-Visualisation",
  "styles": [
    {
      "name": "Optionen",
      "type": "select",
      "options": [
        {
          "caption": "Interaktiv",
          "value": "interactive"
        }
      ]
    }
  ]
}
</script>

<div class="visualization" style="width: 975px;">
  <div class="cover">&nbsp;</div>
  <p doc-html="html">
    <iframe src="http://maps.nzzdali.ch.s3-website-eu-west-1.amazonaws.com/nzzdata/fokus-frauen/#fokus" frameborder="0" height="1001" width="955"></iframe>
  </p>
</div>
