// Show grid and vertical rhythm lines
$debug: false;

@if $debug {
  // Let Susy show columns
  $debug-options: (
    debug: (
      image: show-columns,
      color: rgba(230, 230, 240, 0.5),
    ),
  );
  
  $susy: map-merge($susy, $debug-options) !global;
  
  // Let Compass display vertical lignes
  html {
    @include debug-vertical-alignment();
  }  
}
