<header class="page__header">
  <div class="page__header__content">
    <div class="head-section head-section--deco">
      <div>
        <img class="head-section--deco__totoro" src="/designs/article-ghibli/css/images/totoro-outline.svg">
      </div>
      <img class="head-section--deco__ghibli" src="/designs/article-ghibli/css/images/ghibli-japanese.svg">
      <h1 class="head-section__title" doc-editable="title">Studio Ghibli</h1>
      <h2 class="head-section__sub-title" doc-editable="subtitle">A world of magical imagination in service of realsim</h2>
      <p class="head-section__author" doc-editable="author">From Wikipedia, the funky free encyclopdia</p>
    </div>
  </div>
</header>