/*------------------------------------*\
    $BRAND BAR
\*------------------------------------*/
.brand-bar {
  color: #eee;

  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $background--black;

  top: 0;
  position: fixed;

  z-index: 10;
}

  .brand-bar__logo, .brand-bar__title {
    float: left;
  }
  
  .brand-bar__logo {
    margin-top: 1px;
  }

  .brand-bar__title {
    margin-bottom: 0; 
    margin-left: 15px;
    padding-left: 15px;

    // font-family: $brand-face;
    
    border-left: 1px solid tint($text, 50%);

    line-height: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;

    @include font-size(13px, false);
  }