/*------------------------------------*\
    $CHAPTER HEADER
\*------------------------------------*/
.chapter-header {
  text-align: center;
}
  .chapter-header__title {
    margin-bottom:2.5*$base-spacing-unit;
    margin-bottom:(2.5*$base-spacing-unit / $base-font-size)*1rem;
  }
  .chapter-header__number {
    color: white;
    background-color: $text;

    width: 2em;
    height: 2em;
    line-height: 2em;
    display: inline-block;


    font-family: $font-fam--lft-etica;

    @include font-size(37px, false);
    @include vendor(border-radius, 100%);
  }