/*------------------------------------*\
    $DROPCAP
\*------------------------------------*/
.dropcap {
  float: left;
  line-height: 1;
  font: 92px/72px $font-fam--eskapade;

  margin-right: 6px;
}