/*------------------------------------*\
    $HEAD SECTION
\*------------------------------------*/
.head-section {
  color: #fff;
  text-align: center;
  font-family: $font-fam--eskapade;
  
  width: 100%;
  bottom: 15%;
  position: absolute;
}

  .head-section__title {
    line-height: 1;
    position: relative;
    margin-bottom: $half-spacing-unit / 2;
    @include font-size($mega-size, false);   
  }
  
  .head-section__sub-title {
    @include font-size(31px, false);   
  }

  .head-section__author {
    color: #ccc;
    font-family: $font-fam--lft-etica;
  }
    .head-section__author__name {
      color: #ccc;
      text-decoration: none;
      text-transform: uppercase;
    }



/*------------------------------------*\
    $MODIFIERS
\*------------------------------------*/
