/*------------------------------------*\
    $HEAD SECTION
\*------------------------------------*/
.head-section {
  color: #fff;
  text-align: center;
  font-family: $font-fam--eskapade;
  
  width: 100%;
  bottom: 15%;
  position: absolute;
}

  .head-section__title {
    line-height: 1;
    position: relative;
    margin-bottom: $half-spacing-unit / 2;
    @include font-size($mega-size, false);   
  }
  
  .head-section__sub-title {
    @include font-size(31px, false);   
  }

  .head-section__author {
    color: #ccc;
    font-family: $font-fam--lft-etica;
  }
    .head-section__author__name {
      color: #ccc;
      text-decoration: none;
      text-transform: uppercase;
    }



/*------------------------------------*\
    $MODIFIERS
\*------------------------------------*/
.head-section--deco {
  .head-section__title {
    padding-top: 2 * $base-spacing-unit;

    &:before {
      content: "";

      height: 2px;
      width: 550px;
      margin-left: -275px;
      background-color: #fff;
      
      left: 50%;
      top: $base-spacing-unit;
      position: absolute;
    }
  }
}

  .head-section--deco__ghibli {
    display: inline-block;
  }
  .head-section--deco__totoro {
    top: 154px;
    left: -334px;
    position: relative;
    display: inline-block;
  }
