header.doc-snippet {
  span.author {
    display: block;
  }
}

.timeline-period {
  
  .timeline-label {
    > span.doc-editable {
      // Doesn’t display cursor
      // display: inline-block;
      display: block;
      position: relative;
      top: -22px;
      left: 22px;
    }
  }
  
  span.doc-editable {
    display: block;
  }
}
