@import 'originals/nzz';
@import 'originals/icons';

$debug: true;

@import 'snippets/hero';
@import 'snippets/visualization';

@import 'editing-fixes';

// Header overrides
article#articleBodyText {
  overflow: visible;
  
  header, figcaption {
    font-family: Arial, sans-serif;
  }
  .zoom figcaption span {
    display: inline;
    float: none;
  }
}

#main.grid {
  width: 664px;
}

// Timeline overrides
article {
  .timeline {
    margin-bottom: 0;
    margin-top: 0;

    .timeline-period {
      margin-bottom: 0;
      
      .timeline-event {
        float: none;
        .timelime-event-body a {
          color: #0092cc;          
        }
      }
    }
  }
}

.doc-image-empty {
  min-height: 300px;
  width: 100%;
}

.full-height {
  height: 100vh;
}

.half-height {
  height: 50vh;
}